In [1]:
import numpy as np
import pandas as pd
import requests
import csv
import ssl
from urllib.request import urlopen
from urllib.parse import quote_plus
from konlpy.tag import Okt

In [2]:
pd.set_option('display.max_columns', None)

# Skirt

In [3]:
df_skirt = pd.read_csv('./review_skirt.csv', index_col = 'Unnamed: 0')
cloth_skirt = pd.read_json('./final_skirt.json')
df_skirt.insert(1, 'largecategory', 5, True)
df_skirt

,userName,largecategory,dateYear,dateMonth,dateDay,goodsNo,month1,month2,month3,month4,month5,month6,month7,month8,month9,month10,month11,month12,userSexMen,userSexWomen,userHeight,userWeight,goodsSize,reviewContent,reviewImg,reviewStyle,size,bright,color,thickness,weightness,touch,helpNo,styleLikeNo,newGoodsNo
0,k_hnnj,5,2021,10,14,2029080,0,0,0,0,0,0,0,0,0,1,0,0,0,1,158,48,KHAKI/FREE,['핏 예뻐요 길이도 적당하구요 다만 허리가 좀 큰것 같아용'],https://image.msscdn.net/data/estimate/2029080...,1,2,2,2,0,0,0,0,0,20290800
1,ꉂꉂᵔᗜᵔ,5,2021,8,22,2029080,0,0,0,0,0,0,0,1,0,0,0,0,0,1,159,60,KHAKI/FREE,"['생각보다 짧은 치마', '제 체격에는 좀 작게 느껴질만한 사이즈', '디자인은 ...",-,0,3,2,2,0,0,0,0,0,20290800
2,k_hnnj,5,2021,8,12,2029080,0,0,0,0,0,0,0,1,0,0,0,0,0,1,158,48,KHAKI/FREE,['핏 예뻐요 길이도 적당하구요 다만 허리가 좀 큰것 같아용'],-,0,2,2,2,0,0,0,0,0,20290800
3,미역이233,5,2021,8,6,1911322,0,0,0,0,0,0,0,1,0,0,0,0,0,1,158,54,M,"['주름이 많이 가긴 하는데 스판도 좋고 이쁩니다', '제 키에는 좀 길어서 무릎까...",https://image.msscdn.net/data/estimate/1911322...,1,2,2,2,0,0,0,0,0,19113221
4,블리츠크랭크!,5,2021,7,7,1911322,0,0,0,0,0,0,1,0,0,0,0,0,0,1,159,44,S,['리올그 다른치마는 허리 좀 컸는데 이건 잘 맞아요. 좀 구겨지긴 하지만 잘늘어나...,https://image.msscdn.net/data/estimate/1911322...,1,2,2,2,0,0,0,0,0,19113222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12370,뉴비_54bed8fe,5,2022,3,6,2340070,0,0,1,0,0,0,0,0,0,0,0,0,0,1,160,48,M,"['보통 여기 치마는 m 사면 무난하게 맞았는데', '얘는 좀 허리가 크네요', '...",-,0,1,2,2,0,0,0,0,0,23400702652
12371,얼래프,5,2022,3,3,2340070,0,0,1,0,0,0,0,0,0,0,0,0,0,1,163,47,S,['패턴은 특이하고 이쁜데 몸매 딱 잡아주는 슬림핏은 아니고 살짝 어벙벙해요 ㅠ'],-,0,1,2,2,0,0,0,0,0,23400702653
12372,교촌한입만,5,2022,2,25,2340070,0,1,0,0,0,0,0,0,0,0,0,0,0,1,160,50,S,"['엉덩이 있는 편인데 S 잘맞아요', '허리는 25-26 정도인데 적당히 맞는편']",-,0,2,1,1,0,0,0,0,0,23400702653
12373,야옹웅,5,2022,2,18,2340070,0,1,0,0,0,0,0,0,0,0,0,0,0,1,158,50,M,['실물로 보는게 더 이쁜거 같아요 진짜 이쁩니다 대박'],-,0,2,2,1,0,0,0,0,0,23400702652
12374,멤버_969db30d9ad2,5,2022,2,17,2340070,0,1,0,0,0,0,0,0,0,0,0,0,0,1,170,62,M,"['허리가 살짝 큰데 밥먹을 거 생각하면 딱 좋아요', '생각보다 브라운? 느낌이 ...",-,0,1,2,1,0,0,0,0,0,23400702652

In [4]:
cloth_skirt.columns

Index(['newClothId', 'clothId', 'largeCategory', 'largeCategoryName',
       'smallCategoryMiniskirt', 'smallCategoryMidi', 'smallCategoryLongskirt',
       'smallCategoryName', 'colorWhite', 'colorGrey', 'colorBlack',
       'colorRed', 'colorPink', 'colorOrange', 'colorIvory', 'colorYellow',
       'colorGreen', 'colorBlue', 'colorPurple', 'colorBrown', 'colorBeige',
       'colorJean', 'colorPattern', 'colorOthers', 'colorName', 'clothName',
       'brand', 'clothImg', 'clothPrice', 'date', 'clothHashtags', 'clothMale',
       'clothFemale', 'clothRate', 'clothReviewCnt', 'fit', 'feeling',
       'stretch', 'visibility', 'thickness', 'seasonSpring', 'seasonSummer',
       'seasonFall', 'seasonWinter', 'goodsSize', 'reviewNoun', 'userHeight',
       'userWeight', 'userMale', 'userFemale', 'month1', 'month2', 'month3',
       'month4', 'month5', 'month6', 'month7', 'month8', 'month9', 'month10',
       'month11', 'month12'],
      dtype='object')

In [5]:
cloth_skirt = cloth_skirt[['newClothId', 'clothId', 'smallCategoryMiniskirt', 'smallCategoryMidi', 'smallCategoryLongskirt',
       'colorWhite', 'colorGrey', 'colorBlack', 'colorRed', 'colorPink', 'colorOrange', 'colorIvory', 'colorYellow',
       'colorGreen', 'colorBlue', 'colorPurple', 'colorBrown', 'colorBeige', 'colorJean', 'colorPattern', 'colorOthers']]

In [6]:
df_skirt = pd.merge(df_skirt, cloth_skirt, how="left", left_on='newGoodsNo', right_on="newClothId")
df_skirt

,userName,largecategory,dateYear,dateMonth,dateDay,goodsNo,month1,month2,month3,month4,month5,month6,month7,month8,month9,month10,month11,month12,userSexMen,userSexWomen,userHeight,userWeight,goodsSize,reviewContent,reviewImg,reviewStyle,size,bright,color,thickness,weightness,touch,helpNo,styleLikeNo,newGoodsNo,newClothId,clothId,smallCategoryMiniskirt,smallCategoryMidi,smallCategoryLongskirt,colorWhite,colorGrey,colorBlack,colorRed,colorPink,colorOrange,colorIvory,colorYellow,colorGreen,colorBlue,colorPurple,colorBrown,colorBeige,colorJean,colorPattern,colorOthers
0,k_hnnj,5,2021,10,14,2029080,0,0,0,0,0,0,0,0,0,1,0,0,0,1,158,48,KHAKI/FREE,['핏 예뻐요 길이도 적당하구요 다만 허리가 좀 큰것 같아용'],https://image.msscdn.net/data/estimate/2029080...,1,2,2,2,0,0,0,0,0,20290800,20290800,2029080,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
1,ꉂꉂᵔᗜᵔ,5,2021,8,22,2029080,0,0,0,0,0,0,0,1,0,0,0,0,0,1,159,60,KHAKI/FREE,"['생각보다 짧은 치마', '제 체격에는 좀 작게 느껴질만한 사이즈', '디자인은 ...",-,0,3,2,2,0,0,0,0,0,20290800,20290800,2029080,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
2,k_hnnj,5,2021,8,12,2029080,0,0,0,0,0,0,0,1,0,0,0,0,0,1,158,48,KHAKI/FREE,['핏 예뻐요 길이도 적당하구요 다만 허리가 좀 큰것 같아용'],-,0,2,2,2,0,0,0,0,0,20290800,20290800,2029080,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
3,미역이233,5,2021,8,6,1911322,0,0,0,0,0,0,0,1,0,0,0,0,0,1,158,54,M,"['주름이 많이 가긴 하는데 스판도 좋고 이쁩니다', '제 키에는 좀 길어서 무릎까...",https://image.msscdn.net/data/estimate/1911322...,1,2,2,2,0,0,0,0,0,19113221,19113221,1911322,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
4,블리츠크랭크!,5,2021,7,7,1911322,0,0,0,0,0,0,1,0,0,0,0,0,0,1,159,44,S,['리올그 다른치마는 허리 좀 컸는데 이건 잘 맞아요. 좀 구겨지긴 하지만 잘늘어나...,https://image.msscdn.net/data/estimate/1911322...,1,2,2,2,0,0,0,0,0,19113222,19113222,1911322,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12370,뉴비_54bed8fe,5,2022,3,6,2340070,0,0,1,0,0,0,0,0,0,0,0,0,0,1,160,48,M,"['보통 여기 치마는 m 사면 무난하게 맞았는데', '얘는 좀 허리가 크네요', '...",-,0,1,2,2,0,0,0,0,0,23400702652,23400702652,2340070,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
12371,얼래프,5,2022,3,3,2340070,0,0,1,0,0,0,0,0,0,0,0,0,0,1,163,47,S,['패턴은 특이하고 이쁜데 몸매 딱 잡아주는 슬림핏은 아니고 살짝 어벙벙해요 ㅠ'],-,0,1,2,2,0,0,0,0,0,23400702653,23400702653,2340070,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
12372,교촌한입만,5,2022,2,25,2340070,0,1,0,0,0,0,0,0,0,0,0,0,0,1,160,50,S,"['엉덩이 있는 편인데 S 잘맞아요', '허리는 25-26 정도인데 적당히 맞는편']",-,0,2,1,1,0,0,0,0,0,23400702653,23400702653,2340070,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
12373,야옹웅,5,2022,2,18,2340070,0,1,0,0,0,0,0,0,0,0,0,0,0,1,158,50,M,['실물로 보는게 더 이쁜거 같아요 진짜 이쁩니다 대박'],-,0,2,2,1,0,0,0,0,0,23400702652,23400702652,2340070,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
12374,멤버_969db30d9ad2,5,2022,2,17,2340070,0,1,0,0,0,0,0,0,0,0,0,0,0,1,170,62,M,"['허리가 살짝 큰데 밥먹을 거 생각하면 딱 좋아요', '생각보다 브라운? 느낌이 ...",-,0,1,2,1,0,0,0,0,0,23400702652,23400702652,2340070,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0

In [7]:
df_skirt.columns

Index(['userName', 'largecategory', 'dateYear', 'dateMonth', 'dateDay',
       'goodsNo', 'month1', 'month2', 'month3', 'month4', 'month5', 'month6',
       'month7', 'month8', 'month9', 'month10', 'month11', 'month12',
       'userSexMen', 'userSexWomen', 'userHeight', 'userWeight', 'goodsSize',
       'reviewContent', 'reviewImg', 'reviewStyle', 'size', 'bright', 'color',
       'thickness', 'weightness', 'touch', 'helpNo', 'styleLikeNo',
       'newGoodsNo', 'newClothId', 'clothId', 'smallCategoryMiniskirt',
       'smallCategoryMidi', 'smallCategoryLongskirt', 'colorWhite',
       'colorGrey', 'colorBlack', 'colorRed', 'colorPink', 'colorOrange',
       'colorIvory', 'colorYellow', 'colorGreen', 'colorBlue', 'colorPurple',
       'colorBrown', 'colorBeige', 'colorJean', 'colorPattern', 'colorOthers'],
      dtype='object')

## User 데이터 생성 (unique한 유저 정보로 수정)

In [8]:
user_skirt = df_skirt[['userName', 'largecategory', 'userSexMen', 'userSexWomen']]
user_skirt = user_skirt.drop_duplicates(subset=['userName'])
user_skirt.sort_values('userName', inplace=True)
user_skirt.index = range(len(user_skirt))

In [9]:
mo = df_skirt.groupby('userName').sum()[['month1', 'month2', 'month3', 'month4', 'month5', 'month6', 'month7', 'month8', 'month9', 'month10', 'month11', 'month12']]
mo.sort_values('userName', inplace=True)
mo.index = range(len(mo))

In [10]:
cnt = df_skirt.groupby('userName').count()
cnt.sort_values('userName', inplace=True)
cnt.index = range(len(mo))
cnt = cnt[['largecategory']]
cnt.columns = ['clothCnt']
cnt

      clothCnt
0            1
1            2
2            1
3            1
4            4
...        ...
8292         2
8293         1
8294         1
8295         1
8296         1

[8297 rows x 1 columns]

In [11]:
hw = df_skirt.groupby('userName').mean()[['userHeight', 'userWeight', 'size', 'bright', 'color', 'thickness', 'weightness', 'touch', 'smallCategoryMiniskirt',
       'smallCategoryMidi', 'smallCategoryLongskirt', 'colorWhite',
       'colorGrey', 'colorBlack', 'colorRed', 'colorPink', 'colorOrange',
       'colorIvory', 'colorYellow', 'colorGreen', 'colorBlue', 'colorPurple',
       'colorBrown', 'colorBeige', 'colorJean', 'colorPattern', 'colorOthers']]
hw.sort_values('userName', inplace=True)
hw.index = range(len(hw))

In [12]:
user_skirt = pd.concat([user_skirt, hw, mo, cnt], axis=1)
user_skirt

,userName,largecategory,userSexMen,userSexWomen,userHeight,userWeight,size,bright,color,thickness,weightness,touch,smallCategoryMiniskirt,smallCategoryMidi,smallCategoryLongskirt,colorWhite,colorGrey,colorBlack,colorRed,colorPink,colorOrange,colorIvory,colorYellow,colorGreen,colorBlue,colorPurple,colorBrown,colorBeige,colorJean,colorPattern,colorOthers,month1,month2,month3,month4,month5,month6,month7,month8,month9,month10,month11,month12,clothCnt
0,!@@!,5,0,1,160.0,55.0,2.0,2.0,2.00,0.0,0.0,0.0,0.0,0.0,1.0,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,1,1
1,#999,5,0,1,160.0,49.0,2.0,2.0,2.00,0.0,0.0,0.0,0.5,0.0,0.5,0.00,0.0,0.5,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.5,0.0,0.0,0.0,0,0,0,1,0,0,0,0,0,0,0,1,2
2,#Mini._Squeak,5,0,1,155.0,50.0,1.0,2.0,2.00,0.0,0.0,0.0,1.0,0.0,0.0,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1,0,0,0,0,0,0,0,0,0,0,0,1
3,#_,5,0,1,161.0,44.0,2.0,2.0,1.00,0.0,0.0,0.0,1.0,0.0,0.0,0.00,0.0,1.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,1,1
4,*ㅁ*,5,0,1,164.0,47.0,1.5,1.5,1.25,0.0,0.0,0.0,1.0,0.0,0.0,0.25,0.0,0.5,0.0,0.25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4,0,0,0,0,0,0,0,0,0,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8292,히힛우히힛후힛,5,0,1,157.0,55.0,3.0,3.0,1.00,0.0,0.0,0.0,0.0,0.0,1.0,0.00,0.0,1.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,2,0,2
8293,힘빠지는 해파리,5,0,1,152.0,45.0,2.0,2.0,1.00,0.0,0.0,0.0,0.0,0.0,1.0,1.00,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,1
8294,힝힝깅,5,0,1,169.0,48.0,2.0,2.0,2.00,0.0,0.0,0.0,1.0,0.0,0.0,0.00,0.0,1.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,1,0,0,1
8295,힣히힣힣힣,5,0,1,160.0,48.0,2.0,2.0,2.00,0.0,0.0,0.0,1.0,0.0,0.0,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1,0,0,0,0,0,0,0,0,0,0,0,1
8296,｡･ω･｡,5,0,1,171.0,60.0,2.0,2.0,2.00,0.0,0.0,0.0,1.0,0.0,0.0,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,1

In [13]:
user_skirt.columns

Index(['userName', 'largecategory', 'userSexMen', 'userSexWomen', 'userHeight',
       'userWeight', 'size', 'bright', 'color', 'thickness', 'weightness',
       'touch', 'smallCategoryMiniskirt', 'smallCategoryMidi',
       'smallCategoryLongskirt', 'colorWhite', 'colorGrey', 'colorBlack',
       'colorRed', 'colorPink', 'colorOrange', 'colorIvory', 'colorYellow',
       'colorGreen', 'colorBlue', 'colorPurple', 'colorBrown', 'colorBeige',
       'colorJean', 'colorPattern', 'colorOthers', 'month1', 'month2',
       'month3', 'month4', 'month5', 'month6', 'month7', 'month8', 'month9',
       'month10', 'month11', 'month12', 'clothCnt'],
      dtype='object')

In [14]:
user_skirt.columns = ['userName', 'largecategory', 'userMale', 'userFemale', 'userHeight',
       'userWeight', 'size', 'bright', 'color', 'thickness', 'weightness',
       'touch', 'smallCategoryMiniskirt', 'smallCategoryMidi',
       'smallCategoryLongskirt', 'colorWhite', 'colorGrey', 'colorBlack',
       'colorRed', 'colorPink', 'colorOrange', 'colorIvory', 'colorYellow',
       'colorGreen', 'colorBlue', 'colorPurple', 'colorBrown', 'colorBeige',
       'colorJean', 'colorPattern', 'colorOthers', 'month1', 'month2',
       'month3', 'month4', 'month5', 'month6', 'month7', 'month8', 'month9',
       'month10', 'month11', 'month12', 'clothCnt']

In [15]:
user_skirt.insert(0, 'userId', 0, True)

In [16]:
user_skirt['userId'] = range(len(user_skirt))

In [17]:
user_skirt

,userId,userName,largecategory,userMale,userFemale,userHeight,userWeight,size,bright,color,thickness,weightness,touch,smallCategoryMiniskirt,smallCategoryMidi,smallCategoryLongskirt,colorWhite,colorGrey,colorBlack,colorRed,colorPink,colorOrange,colorIvory,colorYellow,colorGreen,colorBlue,colorPurple,colorBrown,colorBeige,colorJean,colorPattern,colorOthers,month1,month2,month3,month4,month5,month6,month7,month8,month9,month10,month11,month12,clothCnt
0,0,!@@!,5,0,1,160.0,55.0,2.0,2.0,2.00,0.0,0.0,0.0,0.0,0.0,1.0,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,1,1
1,1,#999,5,0,1,160.0,49.0,2.0,2.0,2.00,0.0,0.0,0.0,0.5,0.0,0.5,0.00,0.0,0.5,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.5,0.0,0.0,0.0,0,0,0,1,0,0,0,0,0,0,0,1,2
2,2,#Mini._Squeak,5,0,1,155.0,50.0,1.0,2.0,2.00,0.0,0.0,0.0,1.0,0.0,0.0,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1,0,0,0,0,0,0,0,0,0,0,0,1
3,3,#_,5,0,1,161.0,44.0,2.0,2.0,1.00,0.0,0.0,0.0,1.0,0.0,0.0,0.00,0.0,1.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,1,1
4,4,*ㅁ*,5,0,1,164.0,47.0,1.5,1.5,1.25,0.0,0.0,0.0,1.0,0.0,0.0,0.25,0.0,0.5,0.0,0.25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4,0,0,0,0,0,0,0,0,0,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8292,8292,히힛우히힛후힛,5,0,1,157.0,55.0,3.0,3.0,1.00,0.0,0.0,0.0,0.0,0.0,1.0,0.00,0.0,1.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,2,0,2
8293,8293,힘빠지는 해파리,5,0,1,152.0,45.0,2.0,2.0,1.00,0.0,0.0,0.0,0.0,0.0,1.0,1.00,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,1
8294,8294,힝힝깅,5,0,1,169.0,48.0,2.0,2.0,2.00,0.0,0.0,0.0,1.0,0.0,0.0,0.00,0.0,1.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,1,0,0,1
8295,8295,힣히힣힣힣,5,0,1,160.0,48.0,2.0,2.0,2.00,0.0,0.0,0.0,1.0,0.0,0.0,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1,0,0,0,0,0,0,0,0,0,0,0,1
8296,8296,｡･ω･｡,5,0,1,171.0,60.0,2.0,2.0,2.00,0.0,0.0,0.0,1.0,0.0,0.0,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,1

In [18]:
user_skirt.userMale = user_skirt.userMale.astype('int')
user_skirt.userFemale = user_skirt.userFemale.astype('int')
user_skirt.userHeight = user_skirt.userHeight.astype('int')
user_skirt.userWeight = user_skirt.userWeight.astype('int')

In [19]:
user_skirt.to_json('user_skirt.json', orient='records', force_ascii=False)

## Transaction 데이터 생성(전체 리뷰인 경우로 수정)

In [169]:
transaction_skirt = df_skirt[['userName', 'newGoodsNo', 'largecategory']]

In [170]:
transaction_skirt = pd.merge(user_skirt[['userName', 'userId']], transaction_skirt, how="right", on="userName")
transaction_skirt

              userName  userId   newGoodsNo  largecategory
0               k_hnnj    1382     20290800              5
1                ꉂꉂᵔᗜᵔ    2130     20290800              5
2               k_hnnj    1382     20290800              5
3               미역이233    5195     19113221              5
4              블리츠크랭크!    5593     19113222              5
...                ...     ...          ...            ...
12370      뉴비_54bed8fe    3217  23400702652              5
12371              얼래프    6421  23400702653              5
12372            교촌한입만    2315  23400702653              5
12373              야옹웅    6359  23400702652              5
12374  멤버_969db30d9ad2    4975  23400702652              5

[12375 rows x 4 columns]

In [171]:
transaction_skirt = transaction_skirt.drop('userName', axis=1)
transaction_skirt.columns = ['userId', 'newClothId', 'largecategory']
transaction_skirt

       userId   newClothId  largecategory
0        1382     20290800              5
1        2130     20290800              5
2        1382     20290800              5
3        5195     19113221              5
4        5593     19113222              5
...       ...          ...            ...
12370    3217  23400702652              5
12371    6421  23400702653              5
12372    2315  23400702653              5
12373    6359  23400702652              5
12374    4975  23400702652              5

[12375 rows x 3 columns]

In [172]:
b = transaction_skirt.drop_duplicates(subset=['userId', 'newClothId']).reset_index(drop=True)
b = b.sort_values(['userId', 'newClothId'])
b.index = range(len(b))
b

       userId   newClothId  largecategory
0           0  19641661812              5
1           1   1795772837              5
2           1  21172562649              5
3           2  20995251016              5
4           3  19136511221              5
...       ...          ...            ...
10306    8292  15601831248              5
10307    8293   2214923407              5
10308    8294  20462111605              5
10309    8295  21014592225              5
10310    8296  20942192033              5

[10311 rows x 3 columns]

In [173]:
a = transaction_skirt.groupby(['userId', 'newClothId']).count()
a = a.sort_values(['userId', 'newClothId'])
a.columns = ['shopCnt']
a.index = range(len(a))
a

       shopCnt
0            1
1            1
2            1
3            1
4            1
...        ...
10306        2
10307        1
10308        1
10309        1
10310        1

[10311 rows x 1 columns]

In [174]:
transaction_skirt = pd.concat([b, a], axis=1)
transaction_skirt

       userId   newClothId  largecategory  shopCnt
0           0  19641661812              5        1
1           1   1795772837              5        1
2           1  21172562649              5        1
3           2  20995251016              5        1
4           3  19136511221              5        1
...       ...          ...            ...      ...
10306    8292  15601831248              5        2
10307    8293   2214923407              5        1
10308    8294  20462111605              5        1
10309    8295  21014592225              5        1
10310    8296  20942192033              5        1

[10311 rows x 4 columns]

In [42]:
transaction_skirt.to_json('transaction_skirt.json', orient='records', force_ascii=False)

# Onepiece

In [43]:
df_onepiece = pd.read_csv('./review_onepiece.csv', index_col = 'Unnamed: 0')
cloth_onepiece = pd.read_json('./final_onepiece.json')
df_onepiece.insert(1, 'largecategory', 4, True)
df_onepiece

,userName,largecategory,dateYear,dateMonth,dateDay,goodsNo,month1,month2,month3,month4,month5,month6,month7,month8,month9,month10,month11,month12,userSexMen,userSexWomen,userHeight,userWeight,goodsSize,reviewContent,reviewImg,reviewStyle,size,bright,color,thickness,weightness,touch,helpNo,styleLikeNo,newGoodsNo
0,odddr,4,2021,5,29,1933622,0,0,0,0,1,0,0,0,0,0,0,0,0,1,163,53,none,['다크그레이 색상이라고 했는데 받아보면 진한 카키에 가깝습니다! 품이 매우 커서 ...,https://image.msscdn.net/data/estimate/1933622...,1,1,2,2,0,0,0,0,0,19336222654
1,odddr,4,2021,5,29,1933622,0,0,0,0,1,0,0,0,0,0,0,0,0,1,163,53,none,"['여름에 편하게 입기 좋을것 같아요!', '생각보다 많이 파여서 조심해야ㅎㅐ요ㅠㅠ...",-,0,1,2,2,0,0,0,0,0,19336222654
2,뉴비_a7b53dc7,4,2022,2,25,2297184,0,1,0,0,0,0,0,0,0,0,0,0,0,1,160,55,M,"['길이감 좋고 스타일 꾸안꾸느낌', '빨리 날 좋아지면 입고싶음', '넉넉하게 나...",https://image.msscdn.net/data/estimate/2297184...,1,2,2,2,0,0,0,0,0,22971842655
3,뉴비_a7b53dc7,4,2022,2,25,2297184,0,1,0,0,0,0,0,0,0,0,0,0,0,1,160,55,M,"['여유있게 입으려고 M사이즈 구매', '나그랑이라 어깨 안넓어보이고 좋음', '트...",-,0,2,2,2,0,0,0,0,0,22971842655
4,YnSUGA,4,2022,2,22,2297184,0,1,0,0,0,0,0,0,0,0,0,0,0,1,152,58,S,['봄 신상이라 그런가 확실히 얇아요. 키가 작은 편이라 기장 수선해서 입어야 할 ...,-,0,2,2,2,0,0,0,0,0,22971842656
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8443,yu.r,4,2020,9,4,1440679,0,0,0,0,0,0,0,0,1,0,0,0,0,1,163,52,NONE,['패턴이 너무 이뻐서 구매했는데 생각보다 치마길이는 짧아서 너무 아쉬웠어요 ㅠㅠ ...,-,0,3,2,2,0,0,0,0,0,14406794698
8444,뚝서,4,2021,8,10,1941295,0,0,0,0,0,0,0,1,0,0,0,0,0,1,160,50,PINK/FREE,"['원피스는 통통하신 분들도 잘 들어갈 정도로 밴딩이 잘 되어 있어요', '다만 입...",-,0,2,2,1,0,0,0,0,0,19412954699
8445,뉴비_ed629198,4,2021,9,4,1464994,0,0,0,0,0,0,0,0,1,0,0,0,0,1,160,48,FREE,['정말정말 만족하는 원피스 입니다 생각한것 보다 훨씬 예쁘고 봄여름가을 상관없이 ...,https://image.msscdn.net/data/estimate/1464994...,1,2,2,2,0,0,0,0,0,14649944700
8446,소영파크,4,2022,2,9,1464994,0,1,0,0,0,0,0,0,0,0,0,0,0,1,170,60,FREE,['여리여리해보이고 샤랄라하고 사이즈 프리지만 길이감도 적당'],-,0,2,2,2,0,0,0,0,0,14649944700
8447,뉴비_ed629198,4,2021,6,16,1464994,0,0,0,0,0,1,0,0,0,0,0,0,0,1,160,48,FREE,['실물로보면 더 이쁜 원피스네요 색감이 정말 마음에듭니다'],-,0,2,2,2,0,0,0,0,0,14649944700

In [44]:
cloth_onepiece.columns

Index(['newClothId', 'clothId', 'largeCategory', 'largeCategoryName',
       'smallCategoryMinidress', 'smallCategoryMidi', 'smallCategoryMaxidress',
       'smallCategoryName', 'colorWhite', 'colorGrey', 'colorBlack',
       'colorRed', 'colorPink', 'colorOrange', 'colorIvory', 'colorYellow',
       'colorGreen', 'colorBlue', 'colorPurple', 'colorBrown', 'colorBeige',
       'colorJean', 'colorPattern', 'colorOthers', 'colorName', 'clothName',
       'brand', 'clothImg', 'clothPrice', 'date', 'clothHashtags', 'clothMale',
       'clothFemale', 'clothRate', 'clothReviewCnt', 'fit', 'feeling',
       'stretch', 'visibility', 'thickness', 'seasonSpring', 'seasonSummer',
       'seasonFall', 'seasonWinter', 'goodsSize', 'reviewNoun', 'userHeight',
       'userWeight', 'userMale', 'userFemale', 'month1', 'month2', 'month3',
       'month4', 'month5', 'month6', 'month7', 'month8', 'month9', 'month10',
       'month11', 'month12'],
      dtype='object')

In [45]:
cloth_onepiece = cloth_onepiece[['newClothId', 'clothId', 'smallCategoryMinidress', 'smallCategoryMidi', 'smallCategoryMaxidress',
       'colorWhite', 'colorGrey', 'colorBlack', 'colorRed', 'colorPink', 'colorOrange', 'colorIvory', 'colorYellow',
       'colorGreen', 'colorBlue', 'colorPurple', 'colorBrown', 'colorBeige', 'colorJean', 'colorPattern', 'colorOthers']]

In [46]:
df_onepiece = pd.merge(df_onepiece, cloth_onepiece, how="left", left_on='newGoodsNo', right_on="newClothId")
df_onepiece

,userName,largecategory,dateYear,dateMonth,dateDay,goodsNo,month1,month2,month3,month4,month5,month6,month7,month8,month9,month10,month11,month12,userSexMen,userSexWomen,userHeight,userWeight,goodsSize,reviewContent,reviewImg,reviewStyle,size,bright,color,thickness,weightness,touch,helpNo,styleLikeNo,newGoodsNo,newClothId,clothId,smallCategoryMinidress,smallCategoryMidi,smallCategoryMaxidress,colorWhite,colorGrey,colorBlack,colorRed,colorPink,colorOrange,colorIvory,colorYellow,colorGreen,colorBlue,colorPurple,colorBrown,colorBeige,colorJean,colorPattern,colorOthers
0,odddr,4,2021,5,29,1933622,0,0,0,0,1,0,0,0,0,0,0,0,0,1,163,53,none,['다크그레이 색상이라고 했는데 받아보면 진한 카키에 가깝습니다! 품이 매우 커서 ...,https://image.msscdn.net/data/estimate/1933622...,1,1,2,2,0,0,0,0,0,19336222654,19336222654,1933622,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,odddr,4,2021,5,29,1933622,0,0,0,0,1,0,0,0,0,0,0,0,0,1,163,53,none,"['여름에 편하게 입기 좋을것 같아요!', '생각보다 많이 파여서 조심해야ㅎㅐ요ㅠㅠ...",-,0,1,2,2,0,0,0,0,0,19336222654,19336222654,1933622,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,뉴비_a7b53dc7,4,2022,2,25,2297184,0,1,0,0,0,0,0,0,0,0,0,0,0,1,160,55,M,"['길이감 좋고 스타일 꾸안꾸느낌', '빨리 날 좋아지면 입고싶음', '넉넉하게 나...",https://image.msscdn.net/data/estimate/2297184...,1,2,2,2,0,0,0,0,0,22971842655,22971842655,2297184,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
3,뉴비_a7b53dc7,4,2022,2,25,2297184,0,1,0,0,0,0,0,0,0,0,0,0,0,1,160,55,M,"['여유있게 입으려고 M사이즈 구매', '나그랑이라 어깨 안넓어보이고 좋음', '트...",-,0,2,2,2,0,0,0,0,0,22971842655,22971842655,2297184,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
4,YnSUGA,4,2022,2,22,2297184,0,1,0,0,0,0,0,0,0,0,0,0,0,1,152,58,S,['봄 신상이라 그런가 확실히 얇아요. 키가 작은 편이라 기장 수선해서 입어야 할 ...,-,0,2,2,2,0,0,0,0,0,22971842656,22971842656,2297184,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8443,yu.r,4,2020,9,4,1440679,0,0,0,0,0,0,0,0,1,0,0,0,0,1,163,52,NONE,['패턴이 너무 이뻐서 구매했는데 생각보다 치마길이는 짧아서 너무 아쉬웠어요 ㅠㅠ ...,-,0,3,2,2,0,0,0,0,0,14406794698,14406794698,1440679,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
8444,뚝서,4,2021,8,10,1941295,0,0,0,0,0,0,0,1,0,0,0,0,0,1,160,50,PINK/FREE,"['원피스는 통통하신 분들도 잘 들어갈 정도로 밴딩이 잘 되어 있어요', '다만 입...",-,0,2,2,1,0,0,0,0,0,19412954699,19412954699,1941295,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
8445,뉴비_ed629198,4,2021,9,4,1464994,0,0,0,0,0,0,0,0,1,0,0,0,0,1,160,48,FREE,['정말정말 만족하는 원피스 입니다 생각한것 보다 훨씬 예쁘고 봄여름가을 상관없이 ...,https://image.msscdn.net/data/estimate/1464994...,1,2,2,2,0,0,0,0,0,14649944700,14649944700,1464994,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
8446,소영파크,4,2022,2,9,1464994,0,1,0,0,0,0,0,0,0,0,0,0,0,1,170,60,FREE,['여리여리해보이고 샤랄라하고 사이즈 프리지만 길이감도 적당'],-,0,2,2,2,0,0,0,0,0,14649944700,14649944700,1464994,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
8447,뉴비_ed629198,4,2021,6,16,1464994,0,0,0,0,0,1,0,0,0,0,0,0,0,1,160,48,FREE,['실물로보면 더 이쁜 원피스네요 색감이 정말 마음에듭니다'],-,0,2,2,2,0,0,0,0,0,14649944700,14649944700,1464994,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [47]:
df_onepiece.columns

Index(['userName', 'largecategory', 'dateYear', 'dateMonth', 'dateDay',
       'goodsNo', 'month1', 'month2', 'month3', 'month4', 'month5', 'month6',
       'month7', 'month8', 'month9', 'month10', 'month11', 'month12',
       'userSexMen', 'userSexWomen', 'userHeight', 'userWeight', 'goodsSize',
       'reviewContent', 'reviewImg', 'reviewStyle', 'size', 'bright', 'color',
       'thickness', 'weightness', 'touch', 'helpNo', 'styleLikeNo',
       'newGoodsNo', 'newClothId', 'clothId', 'smallCategoryMinidress',
       'smallCategoryMidi', 'smallCategoryMaxidress', 'colorWhite',
       'colorGrey', 'colorBlack', 'colorRed', 'colorPink', 'colorOrange',
       'colorIvory', 'colorYellow', 'colorGreen', 'colorBlue', 'colorPurple',
       'colorBrown', 'colorBeige', 'colorJean', 'colorPattern', 'colorOthers'],
      dtype='object')

## User 데이터 생성 (unique한 유저 정보로 수정)

In [48]:
user_onepiece = df_onepiece[['userName', 'largecategory', 'userSexMen', 'userSexWomen']]
user_onepiece = user_onepiece.drop_duplicates(subset=['userName'])
user_onepiece.sort_values('userName', inplace=True)
user_onepiece.index = range(len(user_onepiece))

In [49]:
mo = df_onepiece.groupby('userName').sum()[['month1', 'month2', 'month3', 'month4', 'month5', 'month6', 'month7', 'month8', 'month9', 'month10', 'month11', 'month12']]
mo.sort_values('userName', inplace=True)
mo.index = range(len(mo))

In [50]:
cnt = df_onepiece.groupby('userName').count()
cnt.sort_values('userName', inplace=True)
cnt.index = range(len(mo))
cnt = cnt[['largecategory']]
cnt.columns = ['clothCnt']
cnt

      clothCnt
0            1
1            1
2            1
3            1
4            1
...        ...
5832         2
5833         2
5834         2
5835         1
5836         1

[5837 rows x 1 columns]

In [51]:
hw = df_onepiece.groupby('userName').mean()[['userHeight', 'userWeight', 'size', 'bright', 'color', 'thickness', 'weightness', 'touch', 
       'smallCategoryMinidress', 'smallCategoryMidi', 'smallCategoryMaxidress', 'colorWhite',
       'colorGrey', 'colorBlack', 'colorRed', 'colorPink', 'colorOrange',
       'colorIvory', 'colorYellow', 'colorGreen', 'colorBlue', 'colorPurple',
       'colorBrown', 'colorBeige', 'colorJean', 'colorPattern', 'colorOthers']]
hw.sort_values('userName', inplace=True)
hw.index = range(len(hw))

In [52]:
user_onepiece = pd.concat([user_onepiece, hw, mo, cnt], axis=1)
user_onepiece

,userName,largecategory,userSexMen,userSexWomen,userHeight,userWeight,size,bright,color,thickness,weightness,touch,smallCategoryMinidress,smallCategoryMidi,smallCategoryMaxidress,colorWhite,colorGrey,colorBlack,colorRed,colorPink,colorOrange,colorIvory,colorYellow,colorGreen,colorBlue,colorPurple,colorBrown,colorBeige,colorJean,colorPattern,colorOthers,month1,month2,month3,month4,month5,month6,month7,month8,month9,month10,month11,month12,clothCnt
0,#999,4,0,1,160.0,49.0,2.0,1.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,1,0,0,0,0,0,0,1
1,#RM,4,0,1,157.0,46.0,2.0,3.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,1
2,*!*,4,0,1,161.0,50.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,1,0,0,0,0,0,1
3,*ㅁ*,4,0,1,164.0,47.0,2.0,1.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0,0,0,0,1,0,0,0,0,0,0,0,1
4,*김가현*,4,0,1,164.0,50.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1,0,0,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5832,히히힛히히힛,4,0,1,168.0,56.0,1.5,1.5,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.5,0.0,0.0,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,2,0,0,0,0,2
5833,히히힣희,4,0,1,166.0,51.0,2.0,2.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,2,0,0,0,0,0,2
5834,히힛릿,4,0,1,160.0,50.0,2.0,2.0,2.0,0.0,0.0,0.0,0.5,0.5,0.0,0.0,0.0,0.5,0.0,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0,0,0,0,1,0,0,0,0,2
5835,힙한양블리,4,0,1,166.0,48.0,2.0,3.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,1,0,0,0,1
5836,힙합도령,4,0,1,170.0,50.0,2.0,2.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,1,0,0,0,1

In [53]:
user_onepiece.columns

Index(['userName', 'largecategory', 'userSexMen', 'userSexWomen', 'userHeight',
       'userWeight', 'size', 'bright', 'color', 'thickness', 'weightness',
       'touch', 'smallCategoryMinidress', 'smallCategoryMidi',
       'smallCategoryMaxidress', 'colorWhite', 'colorGrey', 'colorBlack',
       'colorRed', 'colorPink', 'colorOrange', 'colorIvory', 'colorYellow',
       'colorGreen', 'colorBlue', 'colorPurple', 'colorBrown', 'colorBeige',
       'colorJean', 'colorPattern', 'colorOthers', 'month1', 'month2',
       'month3', 'month4', 'month5', 'month6', 'month7', 'month8', 'month9',
       'month10', 'month11', 'month12', 'clothCnt'],
      dtype='object')

In [54]:
user_onepiece.columns = ['userName', 'largecategory', 'userMale', 'userFemale', 'userHeight',
       'userWeight', 'size', 'bright', 'color', 'thickness', 'weightness',
       'touch', 'smallCategoryMinidress', 'smallCategoryMidi', 'smallCategoryMaxidress', 'colorWhite', 'colorGrey', 'colorBlack',
       'colorRed', 'colorPink', 'colorOrange', 'colorIvory', 'colorYellow',
       'colorGreen', 'colorBlue', 'colorPurple', 'colorBrown', 'colorBeige',
       'colorJean', 'colorPattern', 'colorOthers', 'month1', 'month2',
       'month3', 'month4', 'month5', 'month6', 'month7', 'month8', 'month9',
       'month10', 'month11', 'month12', 'clothCnt']

In [55]:
user_onepiece.insert(0, 'userId', 0, True)

In [56]:
user_onepiece['userId'] = range(8297, len(user_onepiece)+8297)

In [57]:
user_onepiece

,userId,userName,largecategory,userMale,userFemale,userHeight,userWeight,size,bright,color,thickness,weightness,touch,smallCategoryMinidress,smallCategoryMidi,smallCategoryMaxidress,colorWhite,colorGrey,colorBlack,colorRed,colorPink,colorOrange,colorIvory,colorYellow,colorGreen,colorBlue,colorPurple,colorBrown,colorBeige,colorJean,colorPattern,colorOthers,month1,month2,month3,month4,month5,month6,month7,month8,month9,month10,month11,month12,clothCnt
0,8297,#999,4,0,1,160.0,49.0,2.0,1.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,1,0,0,0,0,0,0,1
1,8298,#RM,4,0,1,157.0,46.0,2.0,3.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,1
2,8299,*!*,4,0,1,161.0,50.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,1,0,0,0,0,0,1
3,8300,*ㅁ*,4,0,1,164.0,47.0,2.0,1.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0,0,0,0,1,0,0,0,0,0,0,0,1
4,8301,*김가현*,4,0,1,164.0,50.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1,0,0,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5832,14129,히히힛히히힛,4,0,1,168.0,56.0,1.5,1.5,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.5,0.0,0.0,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,2,0,0,0,0,2
5833,14130,히히힣희,4,0,1,166.0,51.0,2.0,2.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,2,0,0,0,0,0,2
5834,14131,히힛릿,4,0,1,160.0,50.0,2.0,2.0,2.0,0.0,0.0,0.0,0.5,0.5,0.0,0.0,0.0,0.5,0.0,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0,0,0,0,1,0,0,0,0,2
5835,14132,힙한양블리,4,0,1,166.0,48.0,2.0,3.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,1,0,0,0,1
5836,14133,힙합도령,4,0,1,170.0,50.0,2.0,2.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,1,0,0,0,1

In [58]:
user_onepiece.userMale = user_onepiece.userMale.astype('int')
user_onepiece.userFemale = user_onepiece.userFemale.astype('int')
user_onepiece.userHeight = user_onepiece.userHeight.astype('int')
user_onepiece.userWeight = user_onepiece.userWeight.astype('int')

In [59]:
user_onepiece.to_json('user_onepiece.json', orient='records', force_ascii=False)

## Transaction 데이터 생성(전체 리뷰인 경우로 수정)

In [178]:
transaction_onepiece = df_onepiece[['userName', 'newGoodsNo', 'largecategory']]

In [179]:
transaction_onepiece = pd.merge(user_onepiece[['userName', 'userId']], transaction_onepiece, how="right", on="userName")
transaction_onepiece

         userName  userId   newGoodsNo  largecategory
0           odddr    9384  19336222654              4
1           odddr    9384  19336222654              4
2     뉴비_a7b53dc7   10811  22971842655              4
3     뉴비_a7b53dc7   10811  22971842655              4
4          YnSUGA    8861  22971842656              4
...           ...     ...          ...            ...
8443         yu.r    9671  14406794698              4
8444           뚝서   11430  19412954699              4
8445  뉴비_ed629198   11071  14649944700              4
8446         소영파크   12382  14649944700              4
8447  뉴비_ed629198   11071  14649944700              4

[8448 rows x 4 columns]

In [180]:
transaction_onepiece = transaction_onepiece.drop('userName', axis=1)
transaction_onepiece.columns = ['userId', 'newClothId', 'largecategory']
transaction_onepiece

      userId   newClothId  largecategory
0       9384  19336222654              4
1       9384  19336222654              4
2      10811  22971842655              4
3      10811  22971842655              4
4       8861  22971842656              4
...      ...          ...            ...
8443    9671  14406794698              4
8444   11430  19412954699              4
8445   11071  14649944700              4
8446   12382  14649944700              4
8447   11071  14649944700              4

[8448 rows x 3 columns]

In [181]:
b = transaction_onepiece.drop_duplicates(subset=['userId', 'newClothId']).reset_index(drop=True)
b = b.sort_values(['userId', 'newClothId'])
b.index = range(len(b))
b

      userId   newClothId  largecategory
0       8297  17795683180              4
1       8298  16224483914              4
2       8299  10668513034              4
3       8300  18921544433              4
4       8301  16293243959              4
...      ...          ...            ...
7005   14130  14663643836              4
7006   14131  13409822693              4
7007   14131  21115444525              4
7008   14132  19877483641              4
7009   14133  18717142775              4

[7010 rows x 3 columns]

In [182]:
a = transaction_onepiece.groupby(['userId', 'newClothId']).count()
a = a.sort_values(['userId', 'newClothId'])
a.columns = ['shopCnt']
a.index = range(len(a))
a

      shopCnt
0           1
1           1
2           1
3           1
4           1
...       ...
7005        2
7006        1
7007        1
7008        1
7009        1

[7010 rows x 1 columns]

In [183]:
transaction_onepiece = pd.concat([b, a], axis=1)
transaction_onepiece

      userId   newClothId  largecategory  shopCnt
0       8297  17795683180              4        1
1       8298  16224483914              4        1
2       8299  10668513034              4        1
3       8300  18921544433              4        1
4       8301  16293243959              4        1
...      ...          ...            ...      ...
7005   14130  14663643836              4        2
7006   14131  13409822693              4        1
7007   14131  21115444525              4        1
7008   14132  19877483641              4        1
7009   14133  18717142775              4        1

[7010 rows x 4 columns]

In [66]:
transaction_onepiece.to_json('transaction_onepiece.json', orient='records', force_ascii=False)

# Pants

In [67]:
df_pants = pd.read_csv('./review_pants.csv', index_col = 'Unnamed: 0')
cloth_pants = pd.read_json('./final_pants.json')
df_pants.insert(1, 'largecategory', 3, True)
df_pants

,userName,largecategory,dateYear,dateMonth,dateDay,goodsNo,month1,month2,month3,month4,month5,month6,month7,month8,month9,month10,month11,month12,userSexMen,userSexWomen,userHeight,userWeight,goodsSize,reviewContent,reviewImg,reviewStyle,size,bright,color,thickness,weightness,touch,helpNo,styleLikeNo,newGoodsNo
0,기무태,3,2022,1,10,2258181,1,0,0,0,0,0,0,0,0,0,0,0,1,0,171,74,M,"['세트별로 다사서 이번엔 바지만 샀는데', '이것도 위에 같이 살걸 그랬나바요',...",https://image.msscdn.net/data/estimate/2258181...,1,2,2,2,2,0,0,0,0,22581814701
1,10407,3,2021,12,24,2258181,0,0,0,0,0,0,0,0,0,0,0,1,1,0,175,80,L,['배송도 빨랐고 사이즈도 딱이구 기모라서 따뜻합니댱'],https://image.msscdn.net/data/estimate/2258181...,1,2,2,2,2,0,0,0,0,22581814702
2,기무태,3,2022,1,10,2258181,1,0,0,0,0,0,0,0,0,0,0,0,1,0,171,74,M,"['진짜 너무 이뻐서바지만 또사요', '정말 최고 아이템']",-,0,2,2,2,2,0,0,0,0,22581814701
3,10407,3,2021,12,24,2258181,0,0,0,0,0,0,0,0,0,0,0,1,1,0,175,80,L,['배송도 빨랐고 사이즈도 딱이구 기모라서 따뜻합니댱'],-,0,2,2,2,2,0,0,0,0,22581814702
4,브론즈_f0b04c5803c,3,2020,12,23,1281045,0,0,0,0,0,0,0,0,0,0,0,1,1,0,173,69,S,"['제 값 하는 옷이에요', ' 핏도 너무 이쁘고 스판이라 너무 좋습니다. 배송 왔...",https://image.msscdn.net/data/estimate/1281045...,1,2,2,2,2,0,0,0,0,12810454703
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1503243,마산동호랭이,3,2020,8,10,1168907,0,0,0,0,0,0,0,1,0,0,0,0,1,0,178,84,34,"['핏 좋습니다', '살짝 끼는 핏인데 소재가 좋아서 늘어날거같습니다']",-,0,2,2,2,2,0,0,0,0,116890778830
1503244,~TOP~,3,2020,8,10,1168907,0,0,0,0,0,0,0,1,0,0,0,0,1,0,174,79,32,['상품 잘 받았습니다 배송도 빠르게 잘 받았습니다'],-,0,2,2,2,2,0,0,0,0,116890778832
1503245,똘똘똘,3,2020,8,7,1168907,0,0,0,0,0,0,0,1,0,0,0,0,1,0,183,90,36,['가성비좋은 무탠다드 감사합니다 번창하세요 옷 괜찮습니다 감사합니다'],-,0,2,2,2,2,0,0,0,0,116890778835
1503246,브론즈_910d82e626b,3,2020,8,5,1168907,0,0,0,0,0,0,0,1,0,0,0,0,1,0,175,76,32,"['32인데 허리랑 허벅지가 좀 타이트해요', '길이는 적당히 깁니다']",-,0,2,2,2,1,0,0,0,0,116890778832
1503247,wmkn123,3,2020,8,1,1168907,0,0,0,0,0,0,0,1,0,0,0,0,1,0,173,53,27,['허벅지가 두꺼우신분들은 비추입니다 그래도 좋습니다'],-,0,2,2,2,2,0,0,0,0,116890778827

In [68]:
cloth_pants.columns

Index(['newClothId', 'clothId', 'largeCategory', 'largeCategoryName',
       'smallCategoryDenimpants', 'smallCategoryCottonpants',
       'smallCategorySlacks', 'smallCategoryJoggerpants',
       'smallCategoryShortpants', 'smallCategoryLeggings',
       'smallCategoryJumpsuit', 'smallCategoryOthers', 'smallCategoryName',
       'colorWhite', 'colorGrey', 'colorBlack', 'colorRed', 'colorPink',
       'colorOrange', 'colorIvory', 'colorYellow', 'colorGreen', 'colorBlue',
       'colorPurple', 'colorBrown', 'colorBeige', 'colorJean', 'colorPattern',
       'colorOthers', 'colorName', 'clothName', 'brand', 'clothImg',
       'clothPrice', 'date', 'clothHashtags', 'clothMale', 'clothFemale',
       'clothRate', 'clothReviewCnt', 'fit', 'feeling', 'stretch',
       'visibility', 'thickness', 'seasonSpring', 'seasonSummer', 'seasonFall',
       'seasonWinter', 'goodsSize', 'reviewNoun', 'userHeight', 'userWeight',
       'userMale', 'userFemale', 'month1', 'month2', 'month3', 'month4',
       'month5', 'month6', 'month7', 'month8', 'month9', 'month10', 'month11',
       'month12'],
      dtype='object')

In [69]:
cloth_pants = cloth_pants[['newClothId', 'clothId', 'smallCategoryDenimpants', 'smallCategoryCottonpants',
       'smallCategorySlacks', 'smallCategoryJoggerpants',
       'smallCategoryShortpants', 'smallCategoryLeggings',
       'smallCategoryJumpsuit', 'smallCategoryOthers',
       'colorWhite', 'colorGrey', 'colorBlack', 'colorRed', 'colorPink', 'colorOrange', 'colorIvory', 'colorYellow',
       'colorGreen', 'colorBlue', 'colorPurple', 'colorBrown', 'colorBeige', 'colorJean', 'colorPattern', 'colorOthers']]

In [70]:
df_pants = pd.merge(df_pants, cloth_pants, how="left", left_on='newGoodsNo', right_on="newClothId")
df_pants

,userName,largecategory,dateYear,dateMonth,dateDay,goodsNo,month1,month2,month3,month4,month5,month6,month7,month8,month9,month10,month11,month12,userSexMen,userSexWomen,userHeight,userWeight,goodsSize,reviewContent,reviewImg,reviewStyle,size,bright,color,thickness,weightness,touch,helpNo,styleLikeNo,newGoodsNo,newClothId,clothId,smallCategoryDenimpants,smallCategoryCottonpants,smallCategorySlacks,smallCategoryJoggerpants,smallCategoryShortpants,smallCategoryLeggings,smallCategoryJumpsuit,smallCategoryOthers,colorWhite,colorGrey,colorBlack,colorRed,colorPink,colorOrange,colorIvory,colorYellow,colorGreen,colorBlue,colorPurple,colorBrown,colorBeige,colorJean,colorPattern,colorOthers
0,기무태,3,2022,1,10,2258181,1,0,0,0,0,0,0,0,0,0,0,0,1,0,171,74,M,"['세트별로 다사서 이번엔 바지만 샀는데', '이것도 위에 같이 살걸 그랬나바요',...",https://image.msscdn.net/data/estimate/2258181...,1,2,2,2,2,0,0,0,0,22581814701,2.258181e+10,2258181.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,10407,3,2021,12,24,2258181,0,0,0,0,0,0,0,0,0,0,0,1,1,0,175,80,L,['배송도 빨랐고 사이즈도 딱이구 기모라서 따뜻합니댱'],https://image.msscdn.net/data/estimate/2258181...,1,2,2,2,2,0,0,0,0,22581814702,2.258181e+10,2258181.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,기무태,3,2022,1,10,2258181,1,0,0,0,0,0,0,0,0,0,0,0,1,0,171,74,M,"['진짜 너무 이뻐서바지만 또사요', '정말 최고 아이템']",-,0,2,2,2,2,0,0,0,0,22581814701,2.258181e+10,2258181.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,10407,3,2021,12,24,2258181,0,0,0,0,0,0,0,0,0,0,0,1,1,0,175,80,L,['배송도 빨랐고 사이즈도 딱이구 기모라서 따뜻합니댱'],-,0,2,2,2,2,0,0,0,0,22581814702,2.258181e+10,2258181.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,브론즈_f0b04c5803c,3,2020,12,23,1281045,0,0,0,0,0,0,0,0,0,0,0,1,1,0,173,69,S,"['제 값 하는 옷이에요', ' 핏도 너무 이쁘고 스판이라 너무 좋습니다. 배송 왔...",https://image.msscdn.net/data/estimate/1281045...,1,2,2,2,2,0,0,0,0,12810454703,1.281045e+10,1281045.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1503243,마산동호랭이,3,2020,8,10,1168907,0,0,0,0,0,0,0,1,0,0,0,0,1,0,178,84,34,"['핏 좋습니다', '살짝 끼는 핏인데 소재가 좋아서 늘어날거같습니다']",-,0,2,2,2,2,0,0,0,0,116890778830,1.168908e+11,1168907.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1503244,~TOP~,3,2020,8,10,1168907,0,0,0,0,0,0,0,1,0,0,0,0,1,0,174,79,32,['상품 잘 받았습니다 배송도 빠르게 잘 받았습니다'],-,0,2,2,2,2,0,0,0,0,116890778832,1.168908e+11,1168907.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1503245,똘똘똘,3,2020,8,7,1168907,0,0,0,0,0,0,0,1,0,0,0,0,1,0,183,90,36,['가성비좋은 무탠다드 감사합니다 번창하세요 옷 괜찮습니다 감사합니다'],-,0,2,2,2,2,0,0,0,0,116890778835,1.168908e+11,1168907.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1503246,브론즈_910d82e626b,3,2020,8,5,1168907,0,0,0,0,0,0,0,1,0,0,0,0,1,0,175,76,32,"['32인데 허리랑 허벅지가 좀 타이트해요', '길이는 적당히 깁니다']",-,0,2,2,2,1,0,0,0,0,116890778832,1.168908e+11,1168907.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1503247,wmkn123,3,2020,8,1,1168907,0,0,0,0,0,0,0,1,0,0,0,0,1,0,173,53,27,['허벅지가 두꺼우신분들은 비추입니다 그래도 좋습니다'],-,0,2,2,2,2,0,0,0,0,116890778827,1.168908e+11,1168907.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [71]:
df_pants.columns

Index(['userName', 'largecategory', 'dateYear', 'dateMonth', 'dateDay',
       'goodsNo', 'month1', 'month2', 'month3', 'month4', 'month5', 'month6',
       'month7', 'month8', 'month9', 'month10', 'month11', 'month12',
       'userSexMen', 'userSexWomen', 'userHeight', 'userWeight', 'goodsSize',
       'reviewContent', 'reviewImg', 'reviewStyle', 'size', 'bright', 'color',
       'thickness', 'weightness', 'touch', 'helpNo', 'styleLikeNo',
       'newGoodsNo', 'newClothId', 'clothId', 'smallCategoryDenimpants',
       'smallCategoryCottonpants', 'smallCategorySlacks',
       'smallCategoryJoggerpants', 'smallCategoryShortpants',
       'smallCategoryLeggings', 'smallCategoryJumpsuit', 'smallCategoryOthers',
       'colorWhite', 'colorGrey', 'colorBlack', 'colorRed', 'colorPink',
       'colorOrange', 'colorIvory', 'colorYellow', 'colorGreen', 'colorBlue',
       'colorPurple', 'colorBrown', 'colorBeige', 'colorJean', 'colorPattern',
       'colorOthers'],
      dtype='object')

## User 데이터 생성 (unique한 유저 정보로 수정)

In [72]:
user_pants = df_pants[['userName', 'largecategory', 'userSexMen', 'userSexWomen']]
user_pants = user_pants.drop_duplicates(subset=['userName'])
user_pants.sort_values('userName', inplace=True)
user_pants.index = range(len(user_pants))

In [73]:
mo = df_pants.groupby('userName').sum()[['month1', 'month2', 'month3', 'month4', 'month5', 'month6', 'month7', 'month8', 'month9', 'month10', 'month11', 'month12']]
mo.sort_values('userName', inplace=True)
mo.index = range(len(mo))

In [74]:
cnt = df_pants.groupby('userName').count()
cnt.sort_values('userName', inplace=True)
cnt.index = range(len(mo))
cnt = cnt[['largecategory']]
cnt.columns = ['clothCnt']
cnt

        clothCnt
0              2
1              7
2              3
3              1
4              1
...          ...
474364         3
474365         3
474366         2
474367         2
474368         4

[474369 rows x 1 columns]

In [75]:
hw = df_pants.groupby('userName').mean()[['userHeight', 'userWeight', 'size', 'bright', 'color', 'thickness', 
       'weightness', 'touch', 'smallCategoryDenimpants', 'smallCategoryCottonpants',
       'smallCategorySlacks', 'smallCategoryJoggerpants',
       'smallCategoryShortpants', 'smallCategoryLeggings',
       'smallCategoryJumpsuit', 'smallCategoryOthers', 'colorWhite',
       'colorGrey', 'colorBlack', 'colorRed', 'colorPink', 'colorOrange',
       'colorIvory', 'colorYellow', 'colorGreen', 'colorBlue', 'colorPurple',
       'colorBrown', 'colorBeige', 'colorJean', 'colorPattern', 'colorOthers']]
hw.sort_values('userName', inplace=True)
hw.index = range(len(hw))

In [76]:
user_pants = pd.concat([user_pants, hw, mo, cnt], axis=1)
user_pants

,userName,largecategory,userSexMen,userSexWomen,userHeight,userWeight,size,bright,color,thickness,weightness,touch,smallCategoryDenimpants,smallCategoryCottonpants,smallCategorySlacks,smallCategoryJoggerpants,smallCategoryShortpants,smallCategoryLeggings,smallCategoryJumpsuit,smallCategoryOthers,colorWhite,colorGrey,colorBlack,colorRed,colorPink,colorOrange,colorIvory,colorYellow,colorGreen,colorBlue,colorPurple,colorBrown,colorBeige,colorJean,colorPattern,colorOthers,month1,month2,month3,month4,month5,month6,month7,month8,month9,month10,month11,month12,clothCnt
0,!!!!!!!!!!!!!!!,3,1,0,175.000000,55.000000,2.000000,2.0,2.0,2.0,0.0,0.0,0.000000,0.0,0.000000,0.500000,0.500000,0.0,0.0,0.0,0.0,1.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0,0,0,0,0,0,1,0,0,0,0,1,2
1,!!!!!!!!@,3,0,1,172.000000,59.000000,1.428571,2.0,2.0,2.0,0.0,0.0,0.666667,0.0,0.000000,0.333333,0.000000,0.0,0.0,0.0,0.0,0.333333,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.666667,0.0,0.0,3,0,0,0,0,1,0,3,0,0,0,0,7
2,!!!!!!-,3,1,0,178.000000,74.000000,2.000000,2.0,2.0,2.0,0.0,0.0,0.666667,0.0,0.000000,0.333333,0.000000,0.0,0.0,0.0,0.0,0.000000,0.333333,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.666667,0.0,0.0,0,0,0,0,0,0,0,0,0,2,1,0,3
3,!!!??,3,1,0,170.000000,59.000000,2.000000,2.0,1.0,2.0,0.0,0.0,0.000000,0.0,0.000000,1.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,1.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0,0,0,0,0,0,0,0,0,1,0,0,1
4,!!!@!,3,1,0,177.000000,68.000000,2.000000,2.0,1.0,2.0,0.0,0.0,1.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,0.0,0.0,0,0,1,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474364,￦?￦?,3,1,0,172.666667,73.666667,2.000000,2.0,2.0,2.0,0.0,0.0,0.000000,0.0,0.333333,0.000000,0.666667,0.0,0.0,0.0,0.0,0.000000,1.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0,0,0,0,1,0,0,1,1,0,0,0,3
474365,￦INSKI,3,1,0,175.000000,60.000000,2.000000,2.0,2.0,2.0,0.0,0.0,0.000000,0.0,0.666667,0.333333,0.000000,0.0,0.0,0.0,0.0,0.666667,0.000000,0.0,0.0,0.0,0.333333,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0,1,0,1,0,1,0,0,0,0,0,0,3
474366,￦Z$,3,1,0,168.000000,65.000000,2.000000,2.0,2.0,2.0,0.0,0.0,0.000000,0.0,0.000000,0.500000,0.500000,0.0,0.0,0.0,0.0,0.500000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.5,0,0,0,0,0,0,2,0,0,0,0,0,2
474367,￦onyee,3,1,0,175.000000,63.000000,2.500000,2.0,2.0,2.0,0.0,0.0,0.500000,0.0,0.000000,0.000000,0.500000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.500000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.5,0,0,0,0,2,0,0,0,0,0,0,0,2
474368,￦￦￦￦￦￦￦,3,1,0,183.000000,77.000000,2.000000,2.0,1.5,2.0,0.0,0.0,0.000000,0.0,0.000000,1.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,1.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0,0,0,0,0,0,0,0,2,2,0,0,4

In [77]:
user_pants.columns

Index(['userName', 'largecategory', 'userSexMen', 'userSexWomen', 'userHeight',
       'userWeight', 'size', 'bright', 'color', 'thickness', 'weightness',
       'touch', 'smallCategoryDenimpants', 'smallCategoryCottonpants',
       'smallCategorySlacks', 'smallCategoryJoggerpants',
       'smallCategoryShortpants', 'smallCategoryLeggings',
       'smallCategoryJumpsuit', 'smallCategoryOthers', 'colorWhite',
       'colorGrey', 'colorBlack', 'colorRed', 'colorPink', 'colorOrange',
       'colorIvory', 'colorYellow', 'colorGreen', 'colorBlue', 'colorPurple',
       'colorBrown', 'colorBeige', 'colorJean', 'colorPattern', 'colorOthers',
       'month1', 'month2', 'month3', 'month4', 'month5', 'month6', 'month7',
       'month8', 'month9', 'month10', 'month11', 'month12', 'clothCnt'],
      dtype='object')

In [78]:
user_pants.columns = ['userName', 'largecategory', 'userMale', 'userFemale', 'userHeight',
       'userWeight', 'size', 'bright', 'color', 'thickness', 'weightness',
       'touch', 'smallCategoryDenimpants', 'smallCategoryCottonpants',
       'smallCategorySlacks', 'smallCategoryJoggerpants',
       'smallCategoryShortpants', 'smallCategoryLeggings',
       'smallCategoryJumpsuit', 'smallCategoryOthers', 'colorWhite', 'colorGrey', 'colorBlack',
       'colorRed', 'colorPink', 'colorOrange', 'colorIvory', 'colorYellow',
       'colorGreen', 'colorBlue', 'colorPurple', 'colorBrown', 'colorBeige',
       'colorJean', 'colorPattern', 'colorOthers', 'month1', 'month2',
       'month3', 'month4', 'month5', 'month6', 'month7', 'month8', 'month9',
       'month10', 'month11', 'month12', 'clothCnt']

In [79]:
user_pants.insert(0, 'userId', 0, True)

In [80]:
user_pants['userId'] = range(14134, len(user_pants)+14134)

In [81]:
user_pants

,userId,userName,largecategory,userMale,userFemale,userHeight,userWeight,size,bright,color,thickness,weightness,touch,smallCategoryDenimpants,smallCategoryCottonpants,smallCategorySlacks,smallCategoryJoggerpants,smallCategoryShortpants,smallCategoryLeggings,smallCategoryJumpsuit,smallCategoryOthers,colorWhite,colorGrey,colorBlack,colorRed,colorPink,colorOrange,colorIvory,colorYellow,colorGreen,colorBlue,colorPurple,colorBrown,colorBeige,colorJean,colorPattern,colorOthers,month1,month2,month3,month4,month5,month6,month7,month8,month9,month10,month11,month12,clothCnt
0,14134,!!!!!!!!!!!!!!!,3,1,0,175.000000,55.000000,2.000000,2.0,2.0,2.0,0.0,0.0,0.000000,0.0,0.000000,0.500000,0.500000,0.0,0.0,0.0,0.0,1.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0,0,0,0,0,0,1,0,0,0,0,1,2
1,14135,!!!!!!!!@,3,0,1,172.000000,59.000000,1.428571,2.0,2.0,2.0,0.0,0.0,0.666667,0.0,0.000000,0.333333,0.000000,0.0,0.0,0.0,0.0,0.333333,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.666667,0.0,0.0,3,0,0,0,0,1,0,3,0,0,0,0,7
2,14136,!!!!!!-,3,1,0,178.000000,74.000000,2.000000,2.0,2.0,2.0,0.0,0.0,0.666667,0.0,0.000000,0.333333,0.000000,0.0,0.0,0.0,0.0,0.000000,0.333333,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.666667,0.0,0.0,0,0,0,0,0,0,0,0,0,2,1,0,3
3,14137,!!!??,3,1,0,170.000000,59.000000,2.000000,2.0,1.0,2.0,0.0,0.0,0.000000,0.0,0.000000,1.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,1.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0,0,0,0,0,0,0,0,0,1,0,0,1
4,14138,!!!@!,3,1,0,177.000000,68.000000,2.000000,2.0,1.0,2.0,0.0,0.0,1.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,0.0,0.0,0,0,1,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474364,488498,￦?￦?,3,1,0,172.666667,73.666667,2.000000,2.0,2.0,2.0,0.0,0.0,0.000000,0.0,0.333333,0.000000,0.666667,0.0,0.0,0.0,0.0,0.000000,1.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0,0,0,0,1,0,0,1,1,0,0,0,3
474365,488499,￦INSKI,3,1,0,175.000000,60.000000,2.000000,2.0,2.0,2.0,0.0,0.0,0.000000,0.0,0.666667,0.333333,0.000000,0.0,0.0,0.0,0.0,0.666667,0.000000,0.0,0.0,0.0,0.333333,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0,1,0,1,0,1,0,0,0,0,0,0,3
474366,488500,￦Z$,3,1,0,168.000000,65.000000,2.000000,2.0,2.0,2.0,0.0,0.0,0.000000,0.0,0.000000,0.500000,0.500000,0.0,0.0,0.0,0.0,0.500000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.5,0,0,0,0,0,0,2,0,0,0,0,0,2
474367,488501,￦onyee,3,1,0,175.000000,63.000000,2.500000,2.0,2.0,2.0,0.0,0.0,0.500000,0.0,0.000000,0.000000,0.500000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.500000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.5,0,0,0,0,2,0,0,0,0,0,0,0,2
474368,488502,￦￦￦￦￦￦￦,3,1,0,183.000000,77.000000,2.000000,2.0,1.5,2.0,0.0,0.0,0.000000,0.0,0.000000,1.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,1.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0,0,0,0,0,0,0,0,2,2,0,0,4

In [82]:
user_pants.userMale = user_pants.userMale.astype('int')
user_pants.userFemale = user_pants.userFemale.astype('int')
user_pants.userHeight = user_pants.userHeight.astype('int')
user_pants.userWeight = user_pants.userWeight.astype('int')

In [83]:
user_pants.to_json('user_pants.json', orient='records', force_ascii=False)

## Transaction 데이터 생성(전체 리뷰인 경우로 수정)

In [187]:
transaction_pants = df_pants[['userName', 'newGoodsNo', 'largecategory']]

In [188]:
transaction_pants = pd.merge(user_pants[['userName', 'userId']], transaction_pants, how="right", on="userName")
transaction_pants

                userName  userId    newGoodsNo  largecategory
0                    기무태  153228   22581814701              3
1                  10407   16376   22581814702              3
2                    기무태  153228   22581814701              3
3                  10407   16376   22581814702              3
4        브론즈_f0b04c5803c  325892   12810454703              3
...                  ...     ...           ...            ...
1503243           마산동호랭이  279274  116890778830              3
1503244            ~TOP~  128213  116890778832              3
1503245              똘똘똘  267525  116890778835              3
1503246  브론즈_910d82e626b  323941  116890778832              3
1503247          wmkn123  122615  116890778827              3

[1503248 rows x 4 columns]

In [189]:
transaction_pants = transaction_pants.drop('userName', axis=1)
transaction_pants.columns = ['userId', 'newClothId', 'largecategory']
transaction_pants

         userId    newClothId  largecategory
0        153228   22581814701              3
1         16376   22581814702              3
2        153228   22581814701              3
3         16376   22581814702              3
4        325892   12810454703              3
...         ...           ...            ...
1503243  279274  116890778830              3
1503244  128213  116890778832              3
1503245  267525  116890778835              3
1503246  323941  116890778832              3
1503247  122615  116890778827              3

[1503248 rows x 3 columns]

In [190]:
b = transaction_pants.drop_duplicates(subset=['userId', 'newClothId']).reset_index(drop=True)
b = b.sort_values(['userId', 'newClothId'])
b.index = range(len(b))
b

         userId    newClothId  largecategory
0         14134   18803848686              3
1         14134  213219072452              3
2         14135  155184048154              3
3         14135  167945567571              3
4         14135  193152643836              3
...         ...           ...            ...
1225285  488500  999449069845              3
1225286  488501  147727234807              3
1225287  488501  188543376408              3
1225288  488502  101577772513              3
1225289  488502  125037650343              3

[1225290 rows x 3 columns]

In [191]:
a = transaction_pants.groupby(['userId', 'newClothId']).count()
a = a.sort_values(['userId', 'newClothId'])
a.columns = ['shopCnt']
a.index = range(len(a))
a

         shopCnt
0              1
1              1
2              1
3              2
4              1
...          ...
1225285        1
1225286        1
1225287        1
1225288        2
1225289        2

[1225290 rows x 1 columns]

In [192]:
transaction_pants = pd.concat([b, a], axis=1)
transaction_pants

         userId    newClothId  largecategory  shopCnt
0         14134   18803848686              3        1
1         14134  213219072452              3        1
2         14135  155184048154              3        1
3         14135  167945567571              3        2
4         14135  193152643836              3        1
...         ...           ...            ...      ...
1225285  488500  999449069845              3        1
1225286  488501  147727234807              3        1
1225287  488501  188543376408              3        1
1225288  488502  101577772513              3        2
1225289  488502  125037650343              3        2

[1225290 rows x 4 columns]

In [90]:
transaction_pants.to_json('transaction_pants.json', orient='records', force_ascii=False)

# Outer

In [206]:
df_outer = pd.read_csv('./review_outer.csv', index_col = 'Unnamed: 0')
cloth_outer = pd.read_json('./final_outer.json')
df_outer.insert(1, 'largecategory', 2, True)
df_outer

,userName,largecategory,dateYear,dateMonth,dateDay,goodsNo,month1,month2,month3,month4,month5,month6,month7,month8,month9,month10,month11,month12,userSexMen,userSexWomen,userHeight,userWeight,goodsSize,reviewContent,reviewImg,reviewStyle,size,bright,color,thickness,weightness,touch,helpNo,styleLikeNo,newGoodsNo
0,뉴비_8e8c2e52077b,2,2021,9,18,1766979,0,0,0,0,0,0,0,0,1,0,0,0,1,0,180,61,L,"['제가 어두운 옷보단 밝은 옷을 좋아하는데', '너무 밝지도 않고 딱 적당합니다....",https://image.msscdn.net/data/estimate/1766979...,1,2,1,2,2,0.0,0.0,0.0,0.0,1.766980e+11
1,무신가신사,2,2022,3,15,2391602,0,0,1,0,0,0,0,0,0,0,0,0,0,1,165,46,FREE,['예뻐요 색상도 엄청 환해지고 상품이 봤을때 더 예뻐요'],-,0,2,2,2,2,0.0,2.0,0.0,0.0,2.391603e+11
2,뉴비_3c17ca57,2,2021,7,11,1962220,0,0,0,0,0,0,1,0,0,0,0,0,0,1,163,54,black/free,['재질이 보풀이 조금 생길거 같지만 부들부들 너무 좋네요 ㅠ 다른 색상도 구매 하...,-,0,2,2,2,2,0.0,2.0,0.0,0.0,1.962221e+11
3,푸쳐핸섭,2,2022,2,20,2252652,0,1,0,0,0,0,0,0,0,0,0,0,1,0,175,78,레드/L,"['빨간색 좋아해서 삿는뎅', '맘에는 드는뎅', '구명조끼 같다는 동료의 말에 빵...",-,0,2,2,1,1,0.0,0.0,0.0,0.0,2.252653e+11
4,mmd99,2,2021,12,10,1549580,0,0,0,0,0,0,0,0,0,0,0,1,1,0,178,90,FREE,['이뻐요 따듯해요 네이비 색상도 꼭 사고싶네요 굿굳!'],https://image.msscdn.net/data/estimate/1549580...,1,1,1,1,1,0.0,1.0,0.0,0.0,1.549581e+11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911568,좡좡쓰,2,2020,12,20,1653581,0,0,0,0,0,0,0,0,0,0,0,1,0,1,162,50,M,['나름 만족하는데 털이 장난 아님. 돌돌이 한통은 다 써야 안빠질 듯여'],-,0,2,2,2,2,0.0,0.0,0.0,0.0,1.653581e+12
911569,좡좡쓰,2,2020,12,11,1653581,0,0,0,0,0,0,0,0,0,0,0,1,1,0,177,64,L,['이쁘고 따뜻한 건 좋은데 털빠짐이 엄청 납니다. 번거롭게 하네요.'],-,0,2,2,2,2,0.0,0.0,0.0,0.0,1.653581e+12
911570,연현흠,2,2020,12,4,1653581,0,0,0,0,0,0,0,0,0,0,0,1,1,0,173,65,L,"['한겨울에 입어도 될 정도로 뜨뜻~합니다', '색감도 좋아요']",-,0,2,1,1,1,0.0,0.0,0.0,0.0,1.653581e+12
911571,뉴비_e8a414c8,2,2020,11,12,1653581,0,0,0,0,0,0,0,0,0,0,1,0,1,0,175,78,L,['두툼하고 생각보다 큽니다 겨울에 패딩대용으로도 가능할듯'],-,0,1,2,2,1,0.0,0.0,0.0,0.0,1.653581e+12
911572,유을을,2,2021,6,9,1864918,0,0,0,0,0,1,0,0,0,0,0,0,0,1,168,53,S,"['디자인', '색감 좋아요~', '옷이 흐물거리지 않아 더 좋네요~~']",-,0,2,2,1,1,0.0,0.0,0.0,0.0,1.864918e+12

In [208]:
df_outer.newGoodsNo = df_outer.newGoodsNo.fillna(0)

In [211]:
df_outer.newGoodsNo = df_outer.apply(lambda x: x.goodsNo if x.newGoodsNo == 0 else x.newGoodsNo, axis=1)

In [212]:
sum(df_outer.newGoodsNo.isna())

0

In [213]:
cloth_outer.columns

Index(['newClothId', 'clothId', 'largeCategory', 'largeCategoryName',
       'smallCategoryHoodie', 'smallCategoryBlouson', 'smallCategoryRiders',
       'smallCategoryMustang', 'smallCategoryCardigan', 'smallCategoryFleece',
       'smallCategoryCoat', 'smallCategoryPaddedcoat', 'smallCategoryVest',
       'smallCategoryJacket', 'smallCategoryOthers', 'smallCategoryName',
       'colorWhite', 'colorGrey', 'colorBlack', 'colorRed', 'colorPink',
       'colorOrange', 'colorIvory', 'colorYellow', 'colorGreen', 'colorBlue',
       'colorPurple', 'colorBrown', 'colorBeige', 'colorJean', 'colorPattern',
       'colorOthers', 'colorName', 'clothName', 'brand', 'clothImg',
       'clothPrice', 'date', 'clothHashtags', 'clothMale', 'clothFemale',
       'clothRate', 'clothReviewCnt', 'fit', 'feeling', 'stretch',
       'visibility', 'thickness', 'seasonSpring', 'seasonSummer', 'seasonFall',
       'seasonWinter', 'goodsSize', 'reviewNoun', 'userHeight', 'userWeight',
       'userMale', 'userFemale', 'month1', 'month2', 'month3', 'month4',
       'month5', 'month6', 'month7', 'month8', 'month9', 'month10', 'month11',
       'month12'],
      dtype='object')

In [214]:
cloth_outer = cloth_outer[['newClothId', 'clothId', 'smallCategoryHoodie', 'smallCategoryBlouson', 'smallCategoryRiders',
       'smallCategoryMustang', 'smallCategoryCardigan', 'smallCategoryFleece',
       'smallCategoryCoat', 'smallCategoryPaddedcoat', 'smallCategoryVest',
       'smallCategoryJacket', 'smallCategoryOthers',
       'colorWhite', 'colorGrey', 'colorBlack', 'colorRed', 'colorPink', 'colorOrange', 'colorIvory', 'colorYellow',
       'colorGreen', 'colorBlue', 'colorPurple', 'colorBrown', 'colorBeige', 'colorJean', 'colorPattern', 'colorOthers']]

In [215]:
df_outer = pd.merge(df_outer, cloth_outer, how="left", left_on='newGoodsNo', right_on="newClothId")
df_outer

,userName,largecategory,dateYear,dateMonth,dateDay,goodsNo,month1,month2,month3,month4,month5,month6,month7,month8,month9,month10,month11,month12,userSexMen,userSexWomen,userHeight,userWeight,goodsSize,reviewContent,reviewImg,reviewStyle,size,bright,color,thickness,weightness,touch,helpNo,styleLikeNo,newGoodsNo,newClothId,clothId,smallCategoryHoodie,smallCategoryBlouson,smallCategoryRiders,smallCategoryMustang,smallCategoryCardigan,smallCategoryFleece,smallCategoryCoat,smallCategoryPaddedcoat,smallCategoryVest,smallCategoryJacket,smallCategoryOthers,colorWhite,colorGrey,colorBlack,colorRed,colorPink,colorOrange,colorIvory,colorYellow,colorGreen,colorBlue,colorPurple,colorBrown,colorBeige,colorJean,colorPattern,colorOthers
0,뉴비_8e8c2e52077b,2,2021,9,18,1766979,0,0,0,0,0,0,0,0,1,0,0,0,1,0,180,61,L,"['제가 어두운 옷보단 밝은 옷을 좋아하는데', '너무 밝지도 않고 딱 적당합니다....",https://image.msscdn.net/data/estimate/1766979...,1,2,1,2,2,0.0,0.0,0.0,0.0,1.766980e+11,1.766980e+11,1766979.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,무신가신사,2,2022,3,15,2391602,0,0,1,0,0,0,0,0,0,0,0,0,0,1,165,46,FREE,['예뻐요 색상도 엄청 환해지고 상품이 봤을때 더 예뻐요'],-,0,2,2,2,2,0.0,2.0,0.0,0.0,2.391603e+11,2.391603e+11,2391602.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,뉴비_3c17ca57,2,2021,7,11,1962220,0,0,0,0,0,0,1,0,0,0,0,0,0,1,163,54,black/free,['재질이 보풀이 조금 생길거 같지만 부들부들 너무 좋네요 ㅠ 다른 색상도 구매 하...,-,0,2,2,2,2,0.0,2.0,0.0,0.0,1.962221e+11,1.962221e+11,1962220.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,푸쳐핸섭,2,2022,2,20,2252652,0,1,0,0,0,0,0,0,0,0,0,0,1,0,175,78,레드/L,"['빨간색 좋아해서 삿는뎅', '맘에는 드는뎅', '구명조끼 같다는 동료의 말에 빵...",-,0,2,2,1,1,0.0,0.0,0.0,0.0,2.252653e+11,2.252653e+11,2252652.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,mmd99,2,2021,12,10,1549580,0,0,0,0,0,0,0,0,0,0,0,1,1,0,178,90,FREE,['이뻐요 따듯해요 네이비 색상도 꼭 사고싶네요 굿굳!'],https://image.msscdn.net/data/estimate/1549580...,1,1,1,1,1,0.0,1.0,0.0,0.0,1.549581e+11,1.549581e+11,1549580.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911568,좡좡쓰,2,2020,12,20,1653581,0,0,0,0,0,0,0,0,0,0,0,1,0,1,162,50,M,['나름 만족하는데 털이 장난 아님. 돌돌이 한통은 다 써야 안빠질 듯여'],-,0,2,2,2,2,0.0,0.0,0.0,0.0,1.653581e+12,1.653581e+12,1653581.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
911569,좡좡쓰,2,2020,12,11,1653581,0,0,0,0,0,0,0,0,0,0,0,1,1,0,177,64,L,['이쁘고 따뜻한 건 좋은데 털빠짐이 엄청 납니다. 번거롭게 하네요.'],-,0,2,2,2,2,0.0,0.0,0.0,0.0,1.653581e+12,1.653581e+12,1653581.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
911570,연현흠,2,2020,12,4,1653581,0,0,0,0,0,0,0,0,0,0,0,1,1,0,173,65,L,"['한겨울에 입어도 될 정도로 뜨뜻~합니다', '색감도 좋아요']",-,0,2,1,1,1,0.0,0.0,0.0,0.0,1.653581e+12,1.653581e+12,1653581.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
911571,뉴비_e8a414c8,2,2020,11,12,1653581,0,0,0,0,0,0,0,0,0,0,1,0,1,0,175,78,L,['두툼하고 생각보다 큽니다 겨울에 패딩대용으로도 가능할듯'],-,0,1,2,2,1,0.0,0.0,0.0,0.0,1.653581e+12,1.653581e+12,1653581.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
911572,유을을,2,2021,6,9,1864918,0,0,0,0,0,1,0,0,0,0,0,0,0,1,168,53,S,"['디자인', '색감 좋아요~', '옷이 흐물거리지 않아 더 좋네요~~']",-,0,2,2,1,1,0.0,0.0,0.0,0.0,1.864918e+12,1.864918e+12,1864918.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [216]:
df_outer.columns

Index(['userName', 'largecategory', 'dateYear', 'dateMonth', 'dateDay',
       'goodsNo', 'month1', 'month2', 'month3', 'month4', 'month5', 'month6',
       'month7', 'month8', 'month9', 'month10', 'month11', 'month12',
       'userSexMen', 'userSexWomen', 'userHeight', 'userWeight', 'goodsSize',
       'reviewContent', 'reviewImg', 'reviewStyle', 'size', 'bright', 'color',
       'thickness', 'weightness', 'touch', 'helpNo', 'styleLikeNo',
       'newGoodsNo', 'newClothId', 'clothId', 'smallCategoryHoodie',
       'smallCategoryBlouson', 'smallCategoryRiders', 'smallCategoryMustang',
       'smallCategoryCardigan', 'smallCategoryFleece', 'smallCategoryCoat',
       'smallCategoryPaddedcoat', 'smallCategoryVest', 'smallCategoryJacket',
       'smallCategoryOthers', 'colorWhite', 'colorGrey', 'colorBlack',
       'colorRed', 'colorPink', 'colorOrange', 'colorIvory', 'colorYellow',
       'colorGreen', 'colorBlue', 'colorPurple', 'colorBrown', 'colorBeige',
       'colorJean', 'colorPattern', 'colorOthers'],
      dtype='object')

## User 데이터 생성 (unique한 유저 정보로 수정)

In [217]:
user_outer = df_outer[['userName', 'largecategory', 'userSexMen', 'userSexWomen']]
user_outer = user_outer.drop_duplicates(subset=['userName'])
user_outer.sort_values('userName', inplace=True)
user_outer.index = range(len(user_outer))

In [218]:
mo = df_outer.groupby('userName').sum()[['month1', 'month2', 'month3', 'month4', 'month5', 'month6', 'month7', 'month8', 'month9', 'month10', 'month11', 'month12']]
mo.sort_values('userName', inplace=True)
mo.index = range(len(mo))

In [219]:
cnt = df_outer.groupby('userName').count()
cnt.sort_values('userName', inplace=True)
cnt.index = range(len(mo))
cnt = cnt[['largecategory']]
cnt.columns = ['clothCnt']
cnt

        clothCnt
0              2
1              2
2              3
3              2
4              3
...          ...
369555         2
369556         1
369557         4
369558         2
369559         2

[369560 rows x 1 columns]

In [220]:
hw = df_outer.groupby('userName').mean()[['userHeight', 'userWeight', 'size', 'bright', 'color', 'thickness', 
       'weightness', 'touch', 'smallCategoryHoodie', 'smallCategoryBlouson', 'smallCategoryRiders',
       'smallCategoryMustang', 'smallCategoryCardigan', 'smallCategoryFleece',
       'smallCategoryCoat', 'smallCategoryPaddedcoat', 'smallCategoryVest',
       'smallCategoryJacket', 'smallCategoryOthers', 'colorWhite',
       'colorGrey', 'colorBlack', 'colorRed', 'colorPink', 'colorOrange',
       'colorIvory', 'colorYellow', 'colorGreen', 'colorBlue', 'colorPurple',
       'colorBrown', 'colorBeige', 'colorJean', 'colorPattern', 'colorOthers']]
hw.sort_values('userName', inplace=True)
hw.index = range(len(hw))

In [221]:
user_outer = pd.concat([user_outer, hw, mo, cnt], axis=1)
user_outer

,userName,largecategory,userSexMen,userSexWomen,userHeight,userWeight,size,bright,color,thickness,weightness,touch,smallCategoryHoodie,smallCategoryBlouson,smallCategoryRiders,smallCategoryMustang,smallCategoryCardigan,smallCategoryFleece,smallCategoryCoat,smallCategoryPaddedcoat,smallCategoryVest,smallCategoryJacket,smallCategoryOthers,colorWhite,colorGrey,colorBlack,colorRed,colorPink,colorOrange,colorIvory,colorYellow,colorGreen,colorBlue,colorPurple,colorBrown,colorBeige,colorJean,colorPattern,colorOthers,month1,month2,month3,month4,month5,month6,month7,month8,month9,month10,month11,month12,clothCnt
0,! . !,2,1,0,164.500000,50.0,2.0,2.0,2.000000,0.0,2.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,1.0,0.0,0.000000,0.0,0.0,1.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,1,2
1,!!!!!!!!!!,2,0,1,164.000000,57.0,2.0,2.0,3.000000,0.0,2.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,1.0,0.0,0.000000,0.0,0.0,0.000000,1.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,2,0,2
2,!!!!!!!!!!!!!!!,2,1,0,175.000000,55.0,2.0,2.0,2.000000,2.0,0.0,0.0,0.333333,0.333333,0.0,0.333333,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.333333,0.333333,0.0,0.0,0.0,0.0,0.0,0.333333,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,3,3
3,!!!!!!!!@,2,0,1,172.000000,62.0,2.0,2.0,2.000000,3.0,0.0,0.0,1.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,1.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,2,0,0,0,0,0,0,0,0,0,0,2
4,!!!@!,2,1,0,177.333333,68.0,2.0,2.0,1.666667,2.0,0.0,0.0,0.000000,0.000000,0.0,0.666667,0.0,0.0,0.0,0.0,0.0,0.333333,0.0,0.0,0.000000,1.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1,0,0,0,0,0,0,0,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369555,ｎｏｄｉ,2,1,0,179.000000,78.0,2.0,3.0,2.000000,3.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,1.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0,2,0,0,0,0,0,0,0,0,0,0,2
369556,｡･ω･｡,2,0,1,171.000000,60.0,2.0,3.0,2.000000,2.0,0.0,2.0,0.000000,0.000000,0.0,0.000000,1.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,1.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,1,1
369557,･ω･,2,1,0,169.000000,57.5,1.0,1.0,1.000000,1.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,1.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.5,0.0,0.500000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4,0,0,0,0,0,0,0,0,0,0,0,4
369558,￦INSKI,2,1,0,175.000000,60.0,2.0,2.0,2.000000,2.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,1.000000,0.0,0.0,0.500000,0.500000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,1,0,1,2
369559,￦￦￦￦￦￦￦,2,1,0,183.000000,77.0,2.0,2.0,2.000000,2.0,1.0,0.0,0.000000,0.000000,1.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,1.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,2,0,0,2

In [222]:
user_outer.columns

Index(['userName', 'largecategory', 'userSexMen', 'userSexWomen', 'userHeight',
       'userWeight', 'size', 'bright', 'color', 'thickness', 'weightness',
       'touch', 'smallCategoryHoodie', 'smallCategoryBlouson',
       'smallCategoryRiders', 'smallCategoryMustang', 'smallCategoryCardigan',
       'smallCategoryFleece', 'smallCategoryCoat', 'smallCategoryPaddedcoat',
       'smallCategoryVest', 'smallCategoryJacket', 'smallCategoryOthers',
       'colorWhite', 'colorGrey', 'colorBlack', 'colorRed', 'colorPink',
       'colorOrange', 'colorIvory', 'colorYellow', 'colorGreen', 'colorBlue',
       'colorPurple', 'colorBrown', 'colorBeige', 'colorJean', 'colorPattern',
       'colorOthers', 'month1', 'month2', 'month3', 'month4', 'month5',
       'month6', 'month7', 'month8', 'month9', 'month10', 'month11', 'month12',
       'clothCnt'],
      dtype='object')

In [223]:
user_outer.columns = ['userName', 'largecategory', 'userMale', 'userFemale', 'userHeight',
       'userWeight', 'size', 'bright', 'color', 'thickness', 'weightness',
       'touch', 'smallCategoryHoodie', 'smallCategoryBlouson', 'smallCategoryRiders',
       'smallCategoryMustang', 'smallCategoryCardigan', 'smallCategoryFleece',
       'smallCategoryCoat', 'smallCategoryPaddedcoat', 'smallCategoryVest',
       'smallCategoryJacket', 'smallCategoryOthers', 'colorWhite', 'colorGrey', 'colorBlack',
       'colorRed', 'colorPink', 'colorOrange', 'colorIvory', 'colorYellow',
       'colorGreen', 'colorBlue', 'colorPurple', 'colorBrown', 'colorBeige',
       'colorJean', 'colorPattern', 'colorOthers', 'month1', 'month2',
       'month3', 'month4', 'month5', 'month6', 'month7', 'month8', 'month9',
       'month10', 'month11', 'month12', 'clothCnt']

In [224]:
user_outer.insert(0, 'userId', 0, True)

In [225]:
user_outer['userId'] = range(488503, 488503+len(user_outer))

In [226]:
user_outer

,userId,userName,largecategory,userMale,userFemale,userHeight,userWeight,size,bright,color,thickness,weightness,touch,smallCategoryHoodie,smallCategoryBlouson,smallCategoryRiders,smallCategoryMustang,smallCategoryCardigan,smallCategoryFleece,smallCategoryCoat,smallCategoryPaddedcoat,smallCategoryVest,smallCategoryJacket,smallCategoryOthers,colorWhite,colorGrey,colorBlack,colorRed,colorPink,colorOrange,colorIvory,colorYellow,colorGreen,colorBlue,colorPurple,colorBrown,colorBeige,colorJean,colorPattern,colorOthers,month1,month2,month3,month4,month5,month6,month7,month8,month9,month10,month11,month12,clothCnt
0,488503,! . !,2,1,0,164.500000,50.0,2.0,2.0,2.000000,0.0,2.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,1.0,0.0,0.000000,0.0,0.0,1.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,1,2
1,488504,!!!!!!!!!!,2,0,1,164.000000,57.0,2.0,2.0,3.000000,0.0,2.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,1.0,0.0,0.000000,0.0,0.0,0.000000,1.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,2,0,2
2,488505,!!!!!!!!!!!!!!!,2,1,0,175.000000,55.0,2.0,2.0,2.000000,2.0,0.0,0.0,0.333333,0.333333,0.0,0.333333,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.333333,0.333333,0.0,0.0,0.0,0.0,0.0,0.333333,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,3,3
3,488506,!!!!!!!!@,2,0,1,172.000000,62.0,2.0,2.0,2.000000,3.0,0.0,0.0,1.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,1.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,2,0,0,0,0,0,0,0,0,0,0,2
4,488507,!!!@!,2,1,0,177.333333,68.0,2.0,2.0,1.666667,2.0,0.0,0.0,0.000000,0.000000,0.0,0.666667,0.0,0.0,0.0,0.0,0.0,0.333333,0.0,0.0,0.000000,1.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1,0,0,0,0,0,0,0,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369555,858058,ｎｏｄｉ,2,1,0,179.000000,78.0,2.0,3.0,2.000000,3.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,1.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0,2,0,0,0,0,0,0,0,0,0,0,2
369556,858059,｡･ω･｡,2,0,1,171.000000,60.0,2.0,3.0,2.000000,2.0,0.0,2.0,0.000000,0.000000,0.0,0.000000,1.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,1.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,1,1
369557,858060,･ω･,2,1,0,169.000000,57.5,1.0,1.0,1.000000,1.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,1.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.5,0.0,0.500000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4,0,0,0,0,0,0,0,0,0,0,0,4
369558,858061,￦INSKI,2,1,0,175.000000,60.0,2.0,2.0,2.000000,2.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,1.000000,0.0,0.0,0.500000,0.500000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,1,0,1,2
369559,858062,￦￦￦￦￦￦￦,2,1,0,183.000000,77.0,2.0,2.0,2.000000,2.0,1.0,0.0,0.000000,0.000000,1.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,1.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,2,0,0,2

In [227]:
user_outer.userMale = user_outer.userMale.astype('int')
user_outer.userFemale = user_outer.userFemale.astype('int')
user_outer.userHeight = user_outer.userHeight.astype('int')
user_outer.userWeight = user_outer.userWeight.astype('int')

In [228]:
user_outer.to_json('user_outer.json', orient='records', force_ascii=False)

## Transaction 데이터 생성(전체 리뷰인 경우로 수정)

In [269]:
transaction_outer = df_outer[['userName', 'newGoodsNo', 'largecategory']]

In [270]:
transaction_outer = pd.merge(user_outer[['userName', 'userId']], transaction_outer, how="right", on="userName")
transaction_outer

               userName  userId    newGoodsNo  largecategory
0       뉴비_8e8c2e52077b  646002  1.766980e+11              2
1                 무신가신사  711326  2.391603e+11              2
2           뉴비_3c17ca57  626735  1.962221e+11              2
3                  푸쳐핸섭  840385  2.252653e+11              2
4                 mmd99  557133  1.549581e+11              2
...                 ...     ...           ...            ...
911568              좡좡쓰  810455  1.653581e+12              2
911569              좡좡쓰  810455  1.653581e+12              2
911570              연현흠  773192  1.653581e+12              2
911571      뉴비_e8a414c8  667244  1.653581e+12              2
911572              유을을  789018  1.864918e+12              2

[911573 rows x 4 columns]

In [271]:
transaction_outer = transaction_outer.drop('userName', axis=1)
transaction_outer.columns = ['userId', 'newClothId', 'largecategory']
transaction_outer

        userId    newClothId  largecategory
0       646002  1.766980e+11              2
1       711326  2.391603e+11              2
2       626735  1.962221e+11              2
3       840385  2.252653e+11              2
4       557133  1.549581e+11              2
...        ...           ...            ...
911568  810455  1.653581e+12              2
911569  810455  1.653581e+12              2
911570  773192  1.653581e+12              2
911571  667244  1.653581e+12              2
911572  789018  1.864918e+12              2

[911573 rows x 3 columns]

In [272]:
b = transaction_outer.drop_duplicates(subset=['userId', 'newClothId']).reset_index(drop=True)
b = b.sort_values(['userId', 'newClothId'])
b.index = range(len(b))
b

        userId    newClothId  largecategory
0       488503  1.173386e+11              2
1       488504  1.687491e+11              2
2       488505  1.778405e+11              2
3       488505  2.089095e+11              2
4       488505  2.087957e+12              2
...        ...           ...            ...
738588  858060  2.080837e+11              2
738589  858060  2.080841e+11              2
738590  858061  1.759205e+11              2
738591  858061  1.865226e+12              2
738592  858062  6.215820e+12              2

[738593 rows x 3 columns]

In [273]:
a = transaction_outer.groupby(['userId', 'newClothId']).count()
a = a.sort_values(['userId', 'newClothId'])
a.columns = ['shopCnt']
a.index = range(len(a))
a

        shopCnt
0             2
1             2
2             1
3             1
4             1
...         ...
738588        2
738589        2
738590        1
738591        1
738592        2

[738593 rows x 1 columns]

In [274]:
transaction_outer = pd.concat([b, a], axis=1)
transaction_outer

        userId    newClothId  largecategory  shopCnt
0       488503  1.173386e+11              2        2
1       488504  1.687491e+11              2        2
2       488505  1.778405e+11              2        1
3       488505  2.089095e+11              2        1
4       488505  2.087957e+12              2        1
...        ...           ...            ...      ...
738588  858060  2.080837e+11              2        2
738589  858060  2.080841e+11              2        2
738590  858061  1.759205e+11              2        1
738591  858061  1.865226e+12              2        1
738592  858062  6.215820e+12              2        2

[738593 rows x 4 columns]

In [275]:
transaction_outer.to_json('transaction_outer.json', orient='records', force_ascii=False)

# Top

In [236]:
df_top = pd.read_csv('./review_top.csv', index_col = 'Unnamed: 0')
cloth_top = pd.read_json('./final_top.json')
df_top.insert(1, 'largecategory', 1, True)
df_top

,userName,largecategory,dateYear,dateMonth,dateDay,goodsNo,month1,month2,month3,month4,month5,month6,month7,month8,month9,month10,month11,month12,userSexMen,userSexWomen,userHeight,userWeight,goodsSize,reviewContent,reviewImg,reviewStyle,size,bright,color,thickness,weightness,touch,helpNo,styleLikeNo,newGoodsNo
0,sbom,1,2022,1,4,2062047,1,0,0,0,0,0,0,0,0,0,0,0,0,1,168,67,1(ONESIZE),['음....어깨가 광활해서 남자옷위주로입는데 이건 사이즈가 크고 기장도길고 해서 ...,-,0.0,2.0,2.0,1.0,3.0,0.0,0.0,0.0,0.0,2.062047e+12
1,mishoww,1,2021,11,19,2062047,0,0,0,0,0,0,0,0,0,0,1,0,0,1,154,50,1(ONESIZE),['길이가 적당하니 레깅스에 입어도 이쁘네요 만족합니다.'],-,0.0,2.0,2.0,1.0,2.0,0.0,0.0,0.0,0.0,2.062047e+12
2,저리치워,1,2021,8,27,2062047,0,0,0,0,0,0,0,1,0,0,0,0,0,1,171,54,1(ONESIZE),"['프린팅 귀엽고 핏도 예뻐요 근데 목부분이 약해서 금방 늘어날 것 같은 느낌', ...",-,0.0,2.0,2.0,2.0,2.0,0.0,0.0,0.0,0.0,2.062047e+12
3,하아안빈,1,2022,1,10,2085464,1,0,0,0,0,0,0,0,0,0,0,0,1,0,171,60,IVORY/M,['안얇고 따뜻해서 좋아요 안에 티 하나 이거 하나 패딩 하나 이케하면 딱'],https://image.msscdn.net/data/estimate/2085464...,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,2.085464e+12
4,하아안빈,1,2022,1,10,2085464,1,0,0,0,0,0,0,0,0,0,0,0,1,0,171,60,IVORY/M,['안얇고 따뜻하니 좋아요 사이즈 좀 크니까 실제 사이즈 보고 사세요'],-,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,2.085464e+12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1800837,뉴비_e8fb6ff,1,2022,3,4,2331506,0,0,1,0,0,0,0,0,0,0,0,0,1,0,177,74,100,['이상적인 검정 바지 찾았네요ㅎㅎ 적당히 루즈핏이라 이번 봄 잘입고 다닐 거 같습...,-,0.0,2.0,2.0,2.0,2.0,0.0,0.0,0.0,0.0,2.331506e+12
1800838,오이파리,1,2022,3,13,2331511,0,0,1,0,0,0,0,0,0,0,0,0,1,0,180,70,100,"['두껍지않아서 지금입기 딱 좋아요', '정사이즈 넉넉하게 맞습니다']",-,0.0,2.0,2.0,1.0,3.0,0.0,0.0,0.0,0.0,2.331511e+12
1800839,불꽃비형,1,2022,3,7,2331511,0,0,1,0,0,0,0,0,0,0,0,0,1,0,171,70,095,['컬러감 좋고 사이즈 좋고 생각보다 얇아요 핏은 이뻐요......'],-,0.0,2.0,2.0,2.0,2.0,0.0,0.0,0.0,0.0,2.331511e+12
1800840,goooooood!,1,2022,2,27,2331511,0,1,0,0,0,0,0,0,0,0,0,0,1,0,171,65,095,"['정사이즈 ~세미오버핏 중간 사이즈입니다~~', '색감 쨍하니 좋습니다']",-,0.0,2.0,2.0,1.0,2.0,0.0,0.0,0.0,0.0,2.331511e+12
1800841,토스트11,1,2022,2,25,2331511,0,1,0,0,0,0,0,0,0,0,0,0,1,0,178,76,100,['배송도 빠르고 안전하게 포장돼서 왔어요 색상 선명합니다 추천합니다'],-,0.0,2.0,2.0,1.0,3.0,0.0,0.0,0.0,0.0,2.331511e+12

In [237]:
df_top.newGoodsNo = df_top.newGoodsNo.fillna(0)

In [238]:
df_top.newGoodsNo = df_top.apply(lambda x: x.goodsNo if x.newGoodsNo == 0 else x.newGoodsNo, axis=1)

In [239]:
cloth_top.columns

Index(['newClothId', 'clothId', 'largeCategory', 'largeCategoryName',
       'smallCategoryHalfshort', 'smallCategoryShirt', 'smallCategoryCollar',
       'smallCategoryHoody', 'smallCategorySweatshirt', 'smallCategoryKnit',
       'smallCategoryLong', 'smallCategoryShort', 'smallCategoryOthers',
       'smallCategoryName', 'colorWhite', 'colorGrey', 'colorBlack',
       'colorRed', 'colorPink', 'colorOrange', 'colorIvory', 'colorYellow',
       'colorGreen', 'colorBlue', 'colorPurple', 'colorBrown', 'colorBeige',
       'colorJean', 'colorPattern', 'colorOthers', 'colorName', 'clothName',
       'brand', 'clothImg', 'clothPrice', 'date', 'clothHashtags', 'clothMale',
       'clothFemale', 'clothRate', 'clothReviewCnt', 'fit', 'feeling',
       'stretch', 'visibility', 'thickness', 'seasonSpring', 'seasonSummer',
       'seasonFall', 'seasonWinter', 'goodsSize', 'reviewNoun', 'userHeight',
       'userWeight', 'userMale', 'userFemale', 'month1', 'month2', 'month3',
       'month4', 'month5', 'month6', 'month7', 'month8', 'month9', 'month10',
       'month11', 'month12'],
      dtype='object')

In [240]:
cloth_top = cloth_top[['newClothId', 'clothId', 'smallCategoryHalfshort', 'smallCategoryShirt', 'smallCategoryCollar',
       'smallCategoryHoody', 'smallCategorySweatshirt', 'smallCategoryKnit',
       'smallCategoryLong', 'smallCategoryShort', 'smallCategoryOthers',
       'colorWhite', 'colorGrey', 'colorBlack', 'colorRed', 'colorPink', 'colorOrange', 'colorIvory', 'colorYellow',
       'colorGreen', 'colorBlue', 'colorPurple', 'colorBrown', 'colorBeige', 'colorJean', 'colorPattern', 'colorOthers']]

In [241]:
df_top = pd.merge(df_top, cloth_top, how="left", left_on='newGoodsNo', right_on="newClothId")
df_top

,userName,largecategory,dateYear,dateMonth,dateDay,goodsNo,month1,month2,month3,month4,month5,month6,month7,month8,month9,month10,month11,month12,userSexMen,userSexWomen,userHeight,userWeight,goodsSize,reviewContent,reviewImg,reviewStyle,size,bright,color,thickness,weightness,touch,helpNo,styleLikeNo,newGoodsNo,newClothId,clothId,smallCategoryHalfshort,smallCategoryShirt,smallCategoryCollar,smallCategoryHoody,smallCategorySweatshirt,smallCategoryKnit,smallCategoryLong,smallCategoryShort,smallCategoryOthers,colorWhite,colorGrey,colorBlack,colorRed,colorPink,colorOrange,colorIvory,colorYellow,colorGreen,colorBlue,colorPurple,colorBrown,colorBeige,colorJean,colorPattern,colorOthers
0,sbom,1,2022,1,4,2062047,1,0,0,0,0,0,0,0,0,0,0,0,0,1,168,67,1(ONESIZE),['음....어깨가 광활해서 남자옷위주로입는데 이건 사이즈가 크고 기장도길고 해서 ...,-,0.0,2.0,2.0,1.0,3.0,0.0,0.0,0.0,0.0,2.062047e+12,2.062047e+12,2062047.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,mishoww,1,2021,11,19,2062047,0,0,0,0,0,0,0,0,0,0,1,0,0,1,154,50,1(ONESIZE),['길이가 적당하니 레깅스에 입어도 이쁘네요 만족합니다.'],-,0.0,2.0,2.0,1.0,2.0,0.0,0.0,0.0,0.0,2.062047e+12,2.062047e+12,2062047.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,저리치워,1,2021,8,27,2062047,0,0,0,0,0,0,0,1,0,0,0,0,0,1,171,54,1(ONESIZE),"['프린팅 귀엽고 핏도 예뻐요 근데 목부분이 약해서 금방 늘어날 것 같은 느낌', ...",-,0.0,2.0,2.0,2.0,2.0,0.0,0.0,0.0,0.0,2.062047e+12,2.062047e+12,2062047.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,하아안빈,1,2022,1,10,2085464,1,0,0,0,0,0,0,0,0,0,0,0,1,0,171,60,IVORY/M,['안얇고 따뜻해서 좋아요 안에 티 하나 이거 하나 패딩 하나 이케하면 딱'],https://image.msscdn.net/data/estimate/2085464...,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,2.085464e+12,2.085464e+12,2085464.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,하아안빈,1,2022,1,10,2085464,1,0,0,0,0,0,0,0,0,0,0,0,1,0,171,60,IVORY/M,['안얇고 따뜻하니 좋아요 사이즈 좀 크니까 실제 사이즈 보고 사세요'],-,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,2.085464e+12,2.085464e+12,2085464.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1800837,뉴비_e8fb6ff,1,2022,3,4,2331506,0,0,1,0,0,0,0,0,0,0,0,0,1,0,177,74,100,['이상적인 검정 바지 찾았네요ㅎㅎ 적당히 루즈핏이라 이번 봄 잘입고 다닐 거 같습...,-,0.0,2.0,2.0,2.0,2.0,0.0,0.0,0.0,0.0,2.331506e+12,2.331506e+12,2331506.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1800838,오이파리,1,2022,3,13,2331511,0,0,1,0,0,0,0,0,0,0,0,0,1,0,180,70,100,"['두껍지않아서 지금입기 딱 좋아요', '정사이즈 넉넉하게 맞습니다']",-,0.0,2.0,2.0,1.0,3.0,0.0,0.0,0.0,0.0,2.331511e+12,2.331511e+12,2331511.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1800839,불꽃비형,1,2022,3,7,2331511,0,0,1,0,0,0,0,0,0,0,0,0,1,0,171,70,095,['컬러감 좋고 사이즈 좋고 생각보다 얇아요 핏은 이뻐요......'],-,0.0,2.0,2.0,2.0,2.0,0.0,0.0,0.0,0.0,2.331511e+12,2.331511e+12,2331511.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1800840,goooooood!,1,2022,2,27,2331511,0,1,0,0,0,0,0,0,0,0,0,0,1,0,171,65,095,"['정사이즈 ~세미오버핏 중간 사이즈입니다~~', '색감 쨍하니 좋습니다']",-,0.0,2.0,2.0,1.0,2.0,0.0,0.0,0.0,0.0,2.331511e+12,2.331511e+12,2331511.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1800841,토스트11,1,2022,2,25,2331511,0,1,0,0,0,0,0,0,0,0,0,0,1,0,178,76,100,['배송도 빠르고 안전하게 포장돼서 왔어요 색상 선명합니다 추천합니다'],-,0.0,2.0,2.0,1.0,3.0,0.0,0.0,0.0,0.0,2.331511e+12,2.331511e+12,2331511.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [242]:
df_top.columns

Index(['userName', 'largecategory', 'dateYear', 'dateMonth', 'dateDay',
       'goodsNo', 'month1', 'month2', 'month3', 'month4', 'month5', 'month6',
       'month7', 'month8', 'month9', 'month10', 'month11', 'month12',
       'userSexMen', 'userSexWomen', 'userHeight', 'userWeight', 'goodsSize',
       'reviewContent', 'reviewImg', 'reviewStyle', 'size', 'bright', 'color',
       'thickness', 'weightness', 'touch', 'helpNo', 'styleLikeNo',
       'newGoodsNo', 'newClothId', 'clothId', 'smallCategoryHalfshort',
       'smallCategoryShirt', 'smallCategoryCollar', 'smallCategoryHoody',
       'smallCategorySweatshirt', 'smallCategoryKnit', 'smallCategoryLong',
       'smallCategoryShort', 'smallCategoryOthers', 'colorWhite', 'colorGrey',
       'colorBlack', 'colorRed', 'colorPink', 'colorOrange', 'colorIvory',
       'colorYellow', 'colorGreen', 'colorBlue', 'colorPurple', 'colorBrown',
       'colorBeige', 'colorJean', 'colorPattern', 'colorOthers'],
      dtype='object')

## User 데이터 생성 (unique한 유저 정보로 수정)

In [243]:
user_top = df_top[['userName', 'largecategory', 'userSexMen', 'userSexWomen']]
user_top = user_top.drop_duplicates(subset=['userName'])
user_top.sort_values('userName', inplace=True)
user_top.index = range(len(user_top))

In [244]:
mo = df_top.groupby('userName').sum()[['month1', 'month2', 'month3', 'month4', 'month5', 'month6', 'month7', 'month8', 'month9', 'month10', 'month11', 'month12']]
mo.sort_values('userName', inplace=True)
mo.index = range(len(mo))

In [245]:
cnt = df_top.groupby('userName').count()
cnt.sort_values('userName', inplace=True)
cnt.index = range(len(mo))
cnt = cnt[['largecategory']]
cnt.columns = ['clothCnt']
cnt

        clothCnt
0              2
1              4
2              5
3              3
4              4
...          ...
558881         6
558882         2
558883        12
558884         1
558885         4

[558886 rows x 1 columns]

In [246]:
hw = df_top.groupby('userName').mean()[['userHeight', 'userWeight', 'size', 'bright', 'color', 'thickness', 
       'weightness', 'touch', 'smallCategoryHalfshort', 'smallCategoryShirt', 'smallCategoryCollar',
       'smallCategoryHoody', 'smallCategorySweatshirt', 'smallCategoryKnit',
       'smallCategoryLong', 'smallCategoryShort', 'smallCategoryOthers', 'colorWhite',
       'colorGrey', 'colorBlack', 'colorRed', 'colorPink', 'colorOrange',
       'colorIvory', 'colorYellow', 'colorGreen', 'colorBlue', 'colorPurple',
       'colorBrown', 'colorBeige', 'colorJean', 'colorPattern', 'colorOthers']]
hw.sort_values('userName', inplace=True)
hw.index = range(len(hw))

In [247]:
user_top = pd.concat([user_top, hw, mo, cnt], axis=1)
user_top

,userName,largecategory,userSexMen,userSexWomen,userHeight,userWeight,size,bright,color,thickness,weightness,touch,smallCategoryHalfshort,smallCategoryShirt,smallCategoryCollar,smallCategoryHoody,smallCategorySweatshirt,smallCategoryKnit,smallCategoryLong,smallCategoryShort,smallCategoryOthers,colorWhite,colorGrey,colorBlack,colorRed,colorPink,colorOrange,colorIvory,colorYellow,colorGreen,colorBlue,colorPurple,colorBrown,colorBeige,colorJean,colorPattern,colorOthers,month1,month2,month3,month4,month5,month6,month7,month8,month9,month10,month11,month12,clothCnt
0,! . !,1,1,0,163.0,51.000000,2.00,2.0,2.0,1.500000,0.0,0.000000,0.000000,0.000000,0.0,1.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.5,0.500000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0,1,0,0,0,0,0,0,0,1,0,0,2
1,!!!!!!!!,1,1,0,183.0,90.000000,1.25,1.0,1.0,2.750000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.333333,0.000000,0.666667,0.0,0.0,0.666667,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.333333,0,0,0,0,0,0,0,0,0,0,3,1,4
2,!!!!!!!!!!,1,0,1,164.0,57.000000,1.60,1.8,2.0,2.200000,0.0,0.000000,0.500000,0.500000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.750000,0.0,0.250000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0,0,1,0,1,1,0,0,0,0,2,0,5
3,!!!!!!!!!!!!!!!,1,1,0,175.0,55.333333,2.00,2.0,2.0,2.000000,0.0,0.000000,0.666667,0.000000,0.0,0.333333,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.333333,0.0,0.0,0.0,0.000000,0.0,0.0,0.333333,0.0,0.0,0.0,0.0,0.0,0.333333,0,0,0,0,0,0,2,0,0,0,0,1,3
4,!!!!!!!!@,1,0,1,172.0,59.000000,1.75,2.0,2.0,1.500000,0.0,0.000000,0.250000,0.000000,0.0,0.500000,0.250000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.500000,0.0,0.0,0.250000,0.0,0.0,0.0,0.0,0.0,0.250000,0,3,0,0,0,1,0,0,0,0,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558881,￦INSKI,1,1,0,175.0,60.000000,2.00,2.0,2.0,2.000000,0.0,0.000000,0.333333,0.166667,0.0,0.333333,0.166667,0.000000,0.000000,0.0,0.0,0.166667,0.5,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.333333,0.0,0.0,0.0,0.0,0.0,0.000000,0,2,0,0,0,1,0,0,0,3,0,0,6
558882,￦Z$,1,1,0,168.0,65.000000,1.50,1.5,1.5,2.000000,0.0,0.000000,0.500000,0.000000,0.0,0.000000,0.500000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.0,0.5,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.500000,0,0,0,0,0,0,2,0,0,0,0,0,2
558883,￦onyee,1,1,0,175.0,62.083333,2.00,2.0,2.0,2.166667,0.0,0.333333,0.166667,0.000000,0.0,0.166667,0.166667,0.166667,0.333333,0.0,0.0,0.166667,0.0,0.416667,0.0,0.0,0.0,0.166667,0.0,0.0,0.166667,0.0,0.0,0.0,0.0,0.0,0.083333,0,0,0,0,2,0,0,0,0,2,4,4,12
558884,￦￦￦,1,0,1,163.0,68.000000,1.00,2.0,2.0,2.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,1.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,1.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0,0,0,0,0,0,0,0,0,0,0,1,1
558885,￦￦￦￦￦￦￦,1,1,0,183.0,77.000000,2.50,2.0,2.0,2.000000,0.0,0.000000,0.500000,0.500000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.500000,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.5,0.0,0.000000,0,0,0,0,0,0,1,0,3,0,0,0,4

In [248]:
user_top.columns

Index(['userName', 'largecategory', 'userSexMen', 'userSexWomen', 'userHeight',
       'userWeight', 'size', 'bright', 'color', 'thickness', 'weightness',
       'touch', 'smallCategoryHalfshort', 'smallCategoryShirt',
       'smallCategoryCollar', 'smallCategoryHoody', 'smallCategorySweatshirt',
       'smallCategoryKnit', 'smallCategoryLong', 'smallCategoryShort',
       'smallCategoryOthers', 'colorWhite', 'colorGrey', 'colorBlack',
       'colorRed', 'colorPink', 'colorOrange', 'colorIvory', 'colorYellow',
       'colorGreen', 'colorBlue', 'colorPurple', 'colorBrown', 'colorBeige',
       'colorJean', 'colorPattern', 'colorOthers', 'month1', 'month2',
       'month3', 'month4', 'month5', 'month6', 'month7', 'month8', 'month9',
       'month10', 'month11', 'month12', 'clothCnt'],
      dtype='object')

In [249]:
user_top.columns = ['userName', 'largecategory', 'userMale', 'userFemale', 'userHeight',
       'userWeight', 'size', 'bright', 'color', 'thickness', 'weightness',
       'touch', 'smallCategoryHalfshort', 'smallCategoryShirt', 'smallCategoryCollar',
       'smallCategoryHoody', 'smallCategorySweatshirt', 'smallCategoryKnit',
       'smallCategoryLong', 'smallCategoryShort', 'smallCategoryOthers', 'colorWhite', 'colorGrey', 'colorBlack',
       'colorRed', 'colorPink', 'colorOrange', 'colorIvory', 'colorYellow',
       'colorGreen', 'colorBlue', 'colorPurple', 'colorBrown', 'colorBeige',
       'colorJean', 'colorPattern', 'colorOthers', 'month1', 'month2',
       'month3', 'month4', 'month5', 'month6', 'month7', 'month8', 'month9',
       'month10', 'month11', 'month12', 'clothCnt']

In [250]:
user_top.insert(0, 'userId', 0, True)

In [251]:
user_top['userId'] = range(858063, 858063+len(user_top))

In [252]:
user_top

,userId,userName,largecategory,userMale,userFemale,userHeight,userWeight,size,bright,color,thickness,weightness,touch,smallCategoryHalfshort,smallCategoryShirt,smallCategoryCollar,smallCategoryHoody,smallCategorySweatshirt,smallCategoryKnit,smallCategoryLong,smallCategoryShort,smallCategoryOthers,colorWhite,colorGrey,colorBlack,colorRed,colorPink,colorOrange,colorIvory,colorYellow,colorGreen,colorBlue,colorPurple,colorBrown,colorBeige,colorJean,colorPattern,colorOthers,month1,month2,month3,month4,month5,month6,month7,month8,month9,month10,month11,month12,clothCnt
0,858063,! . !,1,1,0,163.0,51.000000,2.00,2.0,2.0,1.500000,0.0,0.000000,0.000000,0.000000,0.0,1.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.5,0.500000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0,1,0,0,0,0,0,0,0,1,0,0,2
1,858064,!!!!!!!!,1,1,0,183.0,90.000000,1.25,1.0,1.0,2.750000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.333333,0.000000,0.666667,0.0,0.0,0.666667,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.333333,0,0,0,0,0,0,0,0,0,0,3,1,4
2,858065,!!!!!!!!!!,1,0,1,164.0,57.000000,1.60,1.8,2.0,2.200000,0.0,0.000000,0.500000,0.500000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.750000,0.0,0.250000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0,0,1,0,1,1,0,0,0,0,2,0,5
3,858066,!!!!!!!!!!!!!!!,1,1,0,175.0,55.333333,2.00,2.0,2.0,2.000000,0.0,0.000000,0.666667,0.000000,0.0,0.333333,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.333333,0.0,0.0,0.0,0.000000,0.0,0.0,0.333333,0.0,0.0,0.0,0.0,0.0,0.333333,0,0,0,0,0,0,2,0,0,0,0,1,3
4,858067,!!!!!!!!@,1,0,1,172.0,59.000000,1.75,2.0,2.0,1.500000,0.0,0.000000,0.250000,0.000000,0.0,0.500000,0.250000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.500000,0.0,0.0,0.250000,0.0,0.0,0.0,0.0,0.0,0.250000,0,3,0,0,0,1,0,0,0,0,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558881,1416944,￦INSKI,1,1,0,175.0,60.000000,2.00,2.0,2.0,2.000000,0.0,0.000000,0.333333,0.166667,0.0,0.333333,0.166667,0.000000,0.000000,0.0,0.0,0.166667,0.5,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.333333,0.0,0.0,0.0,0.0,0.0,0.000000,0,2,0,0,0,1,0,0,0,3,0,0,6
558882,1416945,￦Z$,1,1,0,168.0,65.000000,1.50,1.5,1.5,2.000000,0.0,0.000000,0.500000,0.000000,0.0,0.000000,0.500000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.0,0.5,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.500000,0,0,0,0,0,0,2,0,0,0,0,0,2
558883,1416946,￦onyee,1,1,0,175.0,62.083333,2.00,2.0,2.0,2.166667,0.0,0.333333,0.166667,0.000000,0.0,0.166667,0.166667,0.166667,0.333333,0.0,0.0,0.166667,0.0,0.416667,0.0,0.0,0.0,0.166667,0.0,0.0,0.166667,0.0,0.0,0.0,0.0,0.0,0.083333,0,0,0,0,2,0,0,0,0,2,4,4,12
558884,1416947,￦￦￦,1,0,1,163.0,68.000000,1.00,2.0,2.0,2.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,1.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,1.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0,0,0,0,0,0,0,0,0,0,0,1,1
558885,1416948,￦￦￦￦￦￦￦,1,1,0,183.0,77.000000,2.50,2.0,2.0,2.000000,0.0,0.000000,0.500000,0.500000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.500000,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.5,0.0,0.000000,0,0,0,0,0,0,1,0,3,0,0,0,4

In [253]:
user_top.userMale = user_top.userMale.astype('int')
user_top.userFemale = user_top.userFemale.astype('int')
user_top.userHeight = user_top.userHeight.astype('int')
user_top.userWeight = user_top.userWeight.astype('int')

In [254]:
user_top.to_json('user_top.json', orient='records', force_ascii=False)

## Transaction 데이터 생성(전체 리뷰인 경우로 수정)

In [255]:
transaction_top = df_top[['userName', 'newGoodsNo', 'largecategory']]

In [256]:
transaction_top = pd.merge(user_top[['userName', 'userId']], transaction_top, how="right", on="userName")
transaction_top

           userName   userId    newGoodsNo  largecategory
0              sbom   970354  2.062047e+12              1
1           mishoww   958608  2.062047e+12              1
2              저리치워  1337219  2.062047e+12              1
3              하아안빈  1395184  2.085464e+12              1
4              하아안빈  1395184  2.085464e+12              1
...             ...      ...           ...            ...
1800837  뉴비_e8fb6ff  1132394  2.331506e+12              1
1800838        오이파리  1297327  2.331511e+12              1
1800839        불꽃비형  1224940  2.331511e+12              1
1800840  goooooood!   936694  2.331511e+12              1
1800841       토스트11  1382529  2.331511e+12              1

[1800842 rows x 4 columns]

In [257]:
transaction_top = transaction_top.drop('userName', axis=1)
transaction_top.columns = ['userId', 'newClothId', 'largecategory']
transaction_top

          userId    newClothId  largecategory
0         970354  2.062047e+12              1
1         958608  2.062047e+12              1
2        1337219  2.062047e+12              1
3        1395184  2.085464e+12              1
4        1395184  2.085464e+12              1
...          ...           ...            ...
1800837  1132394  2.331506e+12              1
1800838  1297327  2.331511e+12              1
1800839  1224940  2.331511e+12              1
1800840   936694  2.331511e+12              1
1800841  1382529  2.331511e+12              1

[1800842 rows x 3 columns]

In [258]:
b = transaction_top.drop_duplicates(subset=['userId', 'newClothId']).reset_index(drop=True)
b = b.sort_values(['userId', 'newClothId'])
b.index = range(len(b))
b

          userId    newClothId  largecategory
0         858063  1.622018e+12              1
1         858063  7.054410e+12              1
2         858064  1.209634e+06              1
3         858064  2.066428e+12              1
4         858064  2.149254e+12              1
...          ...           ...            ...
1505320  1416946  1.848166e+12              1
1505321  1416946  6.657950e+12              1
1505322  1416947  2.252678e+12              1
1505323  1416948  1.912952e+12              1
1505324  1416948  1.991639e+12              1

[1505325 rows x 3 columns]

In [259]:
a = transaction_top.groupby(['userId', 'newClothId']).count()
a = a.sort_values(['userId', 'newClothId'])
a.columns = ['shopCnt']
a.index = range(len(a))
a

         shopCnt
0              1
1              1
2              1
3              1
4              2
...          ...
1505320        1
1505321        2
1505322        1
1505323        2
1505324        2

[1505325 rows x 1 columns]

In [260]:
transaction_top = pd.concat([b, a], axis=1)
transaction_top

          userId    newClothId  largecategory  shopCnt
0         858063  1.622018e+12              1        1
1         858063  7.054410e+12              1        1
2         858064  1.209634e+06              1        1
3         858064  2.066428e+12              1        1
4         858064  2.149254e+12              1        2
...          ...           ...            ...      ...
1505320  1416946  1.848166e+12              1        1
1505321  1416946  6.657950e+12              1        2
1505322  1416947  2.252678e+12              1        1
1505323  1416948  1.912952e+12              1        2
1505324  1416948  1.991639e+12              1        2

[1505325 rows x 4 columns]

In [261]:
transaction_top.to_json('transaction_top.json', orient='records', force_ascii=False)

In [276]:
print(user_top.shape, user_outer.shape, user_pants.shape, user_onepiece.shape, user_skirt.shape)
print(transaction_top.shape, transaction_outer.shape, transaction_pants.shape, transaction_onepiece.shape, transaction_skirt.shape)

(558886, 51) (369560, 53) (474369, 50) (5837, 45) (8297, 45)
(1505325, 4) (738593, 4) (1225290, 4) (7010, 4) (10311, 4)